<div class="modal col-md-6 center-block" id="profilesModal">
	<div class="modal-content alert alert-info">

		<div class="modal-header">
			<div class="col-md-12 h4 h4-space">
				<h4>{{I18nService.getText('LOGIN_FORGOTPASSWORDHEADER')}}</h4> 
			</div>
		</div>


		<div class="row"> 
			<div class="col-md-12">

				<div class="form-group">
					<div class="row">
						<div class="col-md-4 h9">
							<label for="emailAddress">{{I18nService.getText('LOGIN_FORGOTPASSWORDINPUTFIELDLABEL')}}</label>
						</div>
						<div class="col-md-8">
							<input type="text"
									class="form-control"
									id="emailAddress"
									name="emailAddress"
									ng-model="emailAddress"
									placeholder="{{I18nService.getText('LOGIN_FORGOTPASSWORDINPUTFIELDPLACEHOLDER')}}" >
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
					<div>{{message}}</div>
					</div>
					
					<div class="col-md-8">
						<button type="submit"
								class="btn btn-primary btn-block pull-right"
								ng-click="forgotPassword(emailAddress)">
							{{I18nService.getText('LOGIN_FORGOTPASSWORDBUTTON')}}
						</button>
					</div>
				</div>

			</div>
		</div>

		<hr>
		<div class="row">
			<div class="col-md-12">
				<h5><a ui-sref="login">{{I18nService.getText('LOGIN_FORGOTPASSWORDGOLOGINLINK')}}</a></h5>
			</div>

		</div>
	</div>
</div>
