<form name='loginForm' novalidate>
	<div hrm-login-advertorial config="{show:true}"></div>

	<div class="col-md-6">
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-4 h9">
								<label for="emailAddress">{{TranslationService.getText('LOGIN_EMAIL')}}</label>
							</div>
							<div class="col-md-8 form-group" ng-class="{'has-error': loginForm.j_username.$invalid}">
								<input type="email" placeholder="Email address" name="j_username" id="emailAddress" class="form-control" ng-model="loginName">
							</div>
						<div class="col-md-4"></div>
						<div class="col-md-8 alert-error" ng-show="loginForm.j_username.$invalid">{{TranslationService.getText('LOGIN_EMAILADDRESS_INVALID')}}</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-4 h9">
								<label for="exampleInputFirstname">{{TranslationService.getText('LOGIN_PASSWORD')}}</label>
							</div>
							<div class="col-md-8">
								<input type="password" placeholder="{{TranslationService.getText('LOGIN_PASSWORD')}}" name="j_password" id="Password" class="form-control" ng-model="loginPassword" >
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4"></div>

						<div class="col-md-8">
							<button class="btn btn-success btn-block pull-right" ng-click="authenticate()">{{TranslationService.getText('LOGIN_SUBMIT')}}</button>
						</div>

						<div class="col-md-4"></div>	
						<div class="col-md-8 alert" ng-class="{'alert-error':error}" ng-show="loginFeedbackText.length">{{loginFeedbackText}}</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<h5><a ui-sref="login.forgotPassword">{{TranslationService.getText('LOGIN_FORGOT_PASSWORD')}}</a></h5>
						</div>
						<div>
							<div class="col-md-6">
								<a ui-sref="register" ui-sref-opts="{reload: true}">{{TranslationService.getText('LOGIN_REGISTER')}}</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<div ui-view="userProfiles"></div>
<div ui-view="forgotPassword"></div>
<div ui-view="resetPassword"></div>
