<div
	id="profilesModal" 
	class="modal fade modal-container-invite in"
	tabindex="-1"
	role="dialog"
	aria-labelledby="profilesModal"
	aria-hidden="true"
	>
	<div class="row row-centered modal-dialog"> <!-- extra: row row-centered  -->
		<div class="modal-content alert alert-info"> <!-- xtra: alert alert-info -->
			<div class="modal-header">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">

				<div ng-show="loggedInWithProfileText.length">
					<h5>{{loggedInWithProfileText}}</h5>
				</div>

				<div ng-show="userHasMultipleProfiles.length">
					<h5>{{userHasMultipleProfiles}}</h5>
	
					<div class="scrollable modal-output-field">
						<ul>
							<li ng-repeat="profile in profiles" style="list-style-type: none;">
								&nbsp;&nbsp;&nbsp;
								<input
									type="radio"
									name="profiles"
									ng-model="$parent.profile"
									value="{{profile}}"
								>
								{{profile.candidateOrigin}} ({{profile.customerName}})
							</li>
						</ul>
					</div>
				</div>
			</div>
		
			<div class="modal-footer modal-button">
				<button
					type="button"
					class="btn btn-success"
					data-dismiss="modal"
					aria-label="Close"
					ng-click="finishAuthentication(profile)">OK</button>
			</div>
		</div>
	</div>
</div>
	