<!-- Settings-Account-Delete -->
<div role="tabpanel" class="tab-pane margin_top_2 active" id="deletesettings">

	<div class="well bg-white padding_bottom_0">
		<div class="row">
			<div class="col-md-12">

				<div class="h4">
					{{TranslationService.getText('SETTINGS_DELETE_ACCOUNT')}}
				</div>
				<div class="h10 form-group">
					{{TranslationService.getText('SETTINGS_DELETE_ACCOUNT_DESCRIPTION')}}
				</div>

				<div class="row">
					<div class="col-md-12  form-group h9 ">
						<button type="button"
						        class="btn btn-danger pull-right"
						        data-toggle="modal"
						        data-target="#myAccountRemoval"
								ng-click="deleteAccount(data.id)"
								confirm="{{TranslationService.getText('SETTINGS_CONFIRM_DELETE_ACCOUNT')}}"
								>
							<i class="fa fa-times"></i>
							{{TranslationService.getText('SETTINGS_DELETE_ACCOUNT')}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
