<!-- passsword settings -->
<div role="tabpanel" class="tab-pane margin_top_2 active" id="passwordsettings">
	<div class="well bg-white padding_bottom_0">
		<div class="row">
			<div class="col-md-12">

				<div class="h4 form-group">
					{{TranslationService.getText('SETTINGS_CHANGE_PASSWORD')}}
				</div>

				<div class="row">
					<div class="col-md-3 form-group h9">
						<label for="inputPasswordOld">{{TranslationService.getText('SETTINGS_OLD_PASSWORD')}}</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="inputPasswordOld" id="inputPasswordOld" ng-model="data.account.password">
					</div>

					<div class="col-md-3 form-group h9">
						<label for="passwordNew">{{TranslationService.getText('SETTINGS_NEW_PASSWORD')}}</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="passwordNew" id="passwordNew" ng-model="data.account.newPassword">
					</div>

					<div class="col-md-3 form-group h9">
						<label for="passwordRepeat">{{TranslationService.getText('SETTINGS_REPEAT_PASSWORD')}}</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" ng-model="data.account.confirmPassword">
					</div>
				</div>
				<div class="alert alert-warning" ng-show="data.account.newPassword != data.account.confirmPassword">
					{{TranslationService.getText('REGISTER_PASSWORD_MATCH')}}
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<button type="button"
			        class="btn btn-success pull-right"
			        ng-disabled="data.account.newPassword == undefined || data.account.newPassword != data.account.confirmPassword"
			        ng-click="updateAccount(data.account)"
			>{{TranslationService.getText('SETTINGS_SAVE')}}</button>
		</div>
	</div>
</div>