<!-- Settings-Account-Password -->
<div role="tabpanel" class="tab-pane margin_top_2" id="usersettings">
	<div class="well bg-white padding_bottom_0">
		<div class="row">

			<div class="col-md-12">
				<div class="row">

					<div class="col-md-3 form-group h9">
						<label for="InputFirstName">Naam</label>
					</div>

					<div class="col-md-9 form-group">
						<div class="row">
							<div class="col-md-4">
								<input type="text" name="FirstName" class="form-control" id="InputFirstName" placeholder="Voornaam" value="Demo">
							</div>
							<div class="col-md-3">
								<input name="InfixName" type="text" class="form-control" id="InputInfixName" placeholder="Tussenvoegsels" value="">
							</div>
							<div class="col-md-5">
								<input name="LastName" type="text" class="form-control" id="InputLastName" placeholder="Achternaam" value="HRMatches">
							</div>
						</div>
					</div>

					<div class="col-md-12 form-group">
						<div class="row">
							<div class="col-md-3 h9">
								<label for="PhoneNumber">Telefoonnummer</label>
							</div>
							<div class="col-md-9">
								<input name="PhoneNumber" type="text" class="form-control" id="InputPhoneNumber" placeholder="Telefoonnummer" value="">
							</div>
						</div>
					</div>

					<div class="col-md-12 form-group">
						<div class="row">
							<div class="col-md-3 h9">
								<label for="Email">Emailadres</label>
							</div>
							<div class="col-md-9">
								<input name="Email" type="text" class="form-control" id="InputEmail" placeholder="Emailadres" value="demo@hrmatches.com">
							</div>
						</div>
					</div>



					<div class="col-md-12 form-group">
						<div class="row">
							<div class="col-md-3 h9">
								<label for="Language">Taal</label>
							</div>

							<div class="col-md-9">
								<select class="form-control" name="Language">

									<option value="de_DE">Duits</option>

									<option value="en_US">Engels</option>

									<option value="fr_FR">Frans</option>

									<option value="nl_NL" selected="">Nederlands</option>

									<option value="pl_PL">Pools</option>

								</select>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>


</div>	<!--  end user settings -->

<!-- notifications settings -->


<!-- passsword settings -->
<div role="tabpanel" class="tab-pane margin_top_2 active" id="passwordsettings">
	<div class="well bg-white padding_bottom_0">
		<div class="row">
			<div class="col-md-12">

				<div class="h4 form-group">
					Wachtwoord veranderen
				</div>

				<div class="row">
					<div class="col-md-3 form-group h9">
						<label for="inputPasswordOld">Oud wachtwoord</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="inputPasswordOld" id="inputPasswordOld">
					</div>

					<div class="col-md-3 form-group h9">
						<label for="passwordNew">Nieuw wachtwoord</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="passwordNew" id="passwordNew">
					</div>

					<div class="col-md-3 form-group h9">
						<label for="passwordRepeat">Herhaal wachtwoord</label>
					</div>

					<div class="col-md-9 form-group">
						<input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
