<div class="col-md-3">
	<div class="well settings-menu">
		<div class="row">
			<div class="col-md-12 h4">
				<i class="fa fa-cogs"></i>{{TranslationService.getText('SETTINGS_TITLE')}}
			</div>
		</div>

		<div class="list-group h10">
			<a ng-href="{{menu[0].url}}"
			   class="list-group-item"
			ng-repeat="currentMenu in menu">
			<i ng-class="styles[currentMenu.url]"></i> <!--styles defined in wwwroot/app/components/settings/SettingsController.js-->
				{{TranslationService.getText(currentMenu.displayName)}}
			</a>
		</div>
	</div>

</div>

<div class="col-md-9" ui-view="setting"></div>
