<div class="well bg-white">
	<div class="row">
		<div class="col-md-12">
			<div class="h4">{{TranslationService.getText('SETTINGS_JOBDOMAIN_PROPERTIES')}}</div>
			<div class="well teamsettings">


				<div class="row form-group">
					<div class="col-md-4">
						<label for="exampleInputTeamname">{{TranslationService.getText('SETTINGS_JOBDOMAIN_NAME')}}</label>
					</div>

					<div class="col-md-8">
						<input
							name="jobDomainName"
							placeholder="TranslationService.getText('SETTINGS_LASTNAME')"
							value="{{data.detailView.jobDomain.displayName}}"
							class="form-control"
							type="text"
							ng-model="data.detailView.jobDomain.displayName">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label for="exampleInputTeamname">{{TranslationService.getText('SETTINGS_JOBDOMAIN_NAME_PARENT')}}</label>
					</div>

					<div class="col-md-8">
						<select
							name="jobDomainParent"
							class="form-control"
							ng-model="data.detailView.jobDomain.parent"
							ng-selected="data.detailView.jobDomain.parent"
							ng-options="currentJobDomain.id as currentJobDomain[AppConfig.API_ENDPOINTS.settings.userManagement.jobdomain.columnNames.displayName] for currentJobDomain in data.detailView.jobDomains"
						>
							<option value="">{{TranslationService.getText('SETTINGS_JOBDOMAIN_NONE')}}</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label>{{TranslationService.getText('SETTINGS_CULTURE')}}</label>
					</div>

					<div class="col-md-8">
						<select
							name="domainOwnerCompanyCulture"
							class="form-control"
							ng-model="data.detailView.jobDomain.companyCultureId"
							ng-options="culture.id as culture[AppConfig.API_ENDPOINTS.settings.userManagement.jobdomain.columnNames.cultureName] for culture in data.detailView.cultures"
						>
							<option value="">{{TranslationService.getText('SETTINGS_JOBDOMAIN_NONE')}}</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label>{{TranslationService.getText('SETTINGS_MATCHING')}}</label>
					</div>

					<div class="col-md-8">
						<select
							name="domainOwnerCompanyCulture"
							class="form-control"
							ng-model="data.detailView.jobDomain.matchingId"
							ng-selected="data.detailView.jobDomain.matchingId"
							ng-options="matchingconfiguration.id as matchingconfiguration[AppConfig.API_ENDPOINTS.settings.userManagement.jobdomain.columnNames.matchingconfigurationName] for matchingconfiguration in data.detailView.matchingconfigurations"
						>
							<option value="">{{TranslationService.getText('SETTINGS_JOBDOMAIN_NONE')}}</option>
						</select>
					</div>
				</div>


				<div class="row form-group">
					<div class="col-md-4">
						<label>{{TranslationService.getText('SETTINGS_TEAMS')}}</label>
					</div>

					<div class="col-md-8">

						<ui-select
							ng-model="data.detailView.jobDomain.teams"
							multiple
							placeholder="Hello world!!!"
							theme="select2"
							style="width:100%;"
							>
							<ui-select-match>
								<span ng-bind="$select.selected[$index].displayName"></span>
							</ui-select-match>
							<ui-select-choices repeat="team in (data.detailView.teams | filter: $select.search) track by team.id">
								<span ng-bind="team.displayName"></span>
							</ui-select-choices>
						</ui-select>

					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-4 pull-right">
						<button
							type="button"
							class="btn btn-success pull-right"
							ng-click="saveJobdomain(data.detailView.jobDomain)">
							{{TranslationService.getText('SETTINGS_SAVE')}}
						</button>
					</div>

					<div class="col-md-4 pull-right">
						<button type="button" class="btn btn-danger pull-right" ng-click="$state.go('settings.userManagement.jobdomains')">{{TranslationService.getText('')}} Annuleren </button>
					</div>
				</div>
				</div>
		</div>
	</div>
</div>