<!-- jobdomains settings -->
<div rolw="tabpanel">
	<div class="tab-content">
		<div class="well bg-white">
			<div class="row">
				<div class="col-md-10">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>{{TranslationService.getText('SETTINGS_JOBDOMAINS')}}</h3>
						</div>
						<div class="panel-body">

							<div class="col-md-12">

								<button ng-click="editJobdomain()" class="btn btn-primary btn-block" type="button">
									<i class="fa fa-plus margin_right_10"></i>{{TranslationService.getText('SETTINGS_ADD_JOBDOMAIN')}}
								</button>

								<ng-include src="AppConfig.APPCONSTANTS_FILELOCATIONS_VIEWS.TABLEVIEW" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
