<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-info">

		<div class="panel-heading">
			<h3>List translations</h3>
		</div>
		
		<div class="panel-body">
			<div class="col-md-3"></div>

			<div class="col-md-8">

				<table class="table table-striped">
					<thead>
						<tr>
							<th st-sort="key">key</th>
							<th st-sort="DisplayValue">DisplayValue</th>
						</tr>
					</thead>
					<tfoot>
						<tr colspan="3">
							<td colspan="3">
	 							<uib-pagination
									total-items="translations.length"
									ng-model="currentPage"
									max-size="mrOfPagesButtons"
									items-per-page="itemsPerPage"
									class="pagination-sm"
									boundary-links="true"
									rotate="false"></uib-pagination>
							</td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="translation in translations | pagination : currentPage : itemsPerPage">
							<td>{{translation.id}}</td>
							<td>
							<input type="text"
								value="{{translation.DisplayName}}"
								editable-text="translation.DisplayName"
								onbeforesave="updateTranslationKey($data)"
								class="form-control">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<ui-view="editTranslation">