<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3>List translations</h3>
		</div>
		<div class="panel-body">

			<div class="col-md-8">
				<table class="table table-striped">
					<thead>
						<tr>
							<th ng-show="viewConfig.listView.columns[0].header_visible && viewConfig.listView.columns[0].visible">{{viewConfig.listView.columns[0].header_text}}</th>
							<th ng-show="viewConfig.listView.columns[1].header_visible && viewConfig.listView.columns[1].visible">{{viewConfig.listView.columns[1].header_text}}</th>
							<th ng-show="viewConfig.listView.row_editable">Edit</th>
						</tr>
					</thead>
					<tfoot>
						<tr colspan="{{viewConfig.listView.columns.length + (viewConfig.listView.row_editable ? 1 : 0)}}" ng-if="viewConfig.listView.pagination.enable">
							<td colspan="{{viewConfig.listView.columns.length + (viewConfig.listView.row_editable ? 1 : 0)}}">
								<uib-pagination
		 							ng-model="currentPage"
		 							total-items="translations.length"
		 							max-size="viewConfig.listView.pagination.maxSize"
		 							items-per-page="viewConfig.listView.pagination.itemsPerPage"></uib-pagination>
							</td>
						</tr>
					</tfoot>
					<tbody>
 						<tr ng-repeat="translation in translations | pagination : currentPage : viewConfig.listView.pagination.itemsPerPage+1">
							<td ng-if="column.visible" ng-repeat="column in viewConfig.listView.columns">
								<span
									editable-text="translation[column.columnName]"
									onbeforesave="updateTranslationKey($data)"
									e-name="{{column.columnName}}"
									e-form="rowform"
									isDisabled="!column.cell_editable"
									class="form-control">{{translation[column.columnName]}}</span>
							</td>
						    <td ng-show="viewConfig.listView.row_editable">
							    <form editable-form
							        name="rowform"
							        onbeforesave="updateTranslationKey($data)"
							        ng-show="viewConfig.listView.row_editable">
									<button type="button"
									        class="btn btn-primary"
									        ng-click="rowform.$show()">
										edit
									</button>
							    </form>
							    <div class="buttons" ng-show="rowform.$visible">
								    <button type="button"
								            class="btn btn-primary"
								            ng-click="updateTranslationKey($data)"
								            ng-disabled="rowform.$waiting">
									    save
								    </button>
								    <button type="button"
								            class="btn btn-default"
								            ng-click="rowform.$cancel()"
								            ng-disabled="rowform.$waiting">
									    cancel
								    </button>
							    </div>
						    </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
  
<ui-view="editTranslation">