<div class="well bg-white">
	<div class="row">
		<div class="col-md-12 ">
			<div class="h4">{{data.team.DisplayName}}</div>
			<div class="well teamsettings">


				<div class="row form-group">
					<div class="col-md-4">
						<label for="exampleInputTeamname">{{TranslationService.getText('SETTINGS_TEAM_NAME')}}</label>
					</div>

					<div class="col-md-8">
						<input
							type="text"
							name="teamName"
							value="{{data.team.DisplayName}}"
							class="form-control"
							id="exampleInputTeamname"
							placeholder="{{data.team.DisplayName}}">
					</div>
				</div>


				<div class="well bg-white team-well">
					<div class="row">
						<div class="col-md-12">

							<div class="bs-example" data-example-id="striped-table">
								<table class="table table-striped h10">
									<thead>
									<tr>
										<th>{{TranslationService.getText('SETTINGS_TEAMMEMBER_NAME')}}</th>
										<th>{{TranslationService.getText('SETTINGS_ROLE')}}</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="teamMember in data.team.MEMBERS">
										<td>{{teamMember.firstName}} {{teamMember.infix}} {{teamMember.lastName}}</td>
										<td>
											<select
												ng-model="teamMember.roleId"
												ng-options="role.id as role.systemName for role in data.roles"
												class="form-control h9 selectpicker">
											</select>
										</td>
										<td class="right_text">
											<button
												type="submit"
												ng-click="deleteTeamMember(teamMember.personId)"
												class="btn btn-sm btn-default"
												data-toggle="tooltip"
												data-placement="top"
												title=""
												data-original-title="Verwijderen">
											<i class="fa red fa-remove"></i>
											</button>
										</td>
									</tr>
									<!--ADD NEW TEAMMEMBER-->
									<tr>
										<td>
											<select
												class="form-control selectpicker"
												ng-model="newUser.id"
												ng-options="user.id as (user.firstName + ' ' + user.infix + ' ' + user.lastName) for user in data.users">
												<option value="">- Selecteer teamlid -</option>
											</select>
										</td>

										<td>
											<select
												ng-model="newUser.roleId"
												ng-options="role.id as role.systemName for role in data.roles"
												class="form-control h9 selectpicker">
												<option value="0">- Selecteer rol -</option>
											</select>
										</td>
										<td class="right_text">
											<button
												ng-click="addTeamMember(newUser)"
												class="btn btn-sm btn-default">
												<i class="fa blue fa-plus"></i>
											</button>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-2 pull-right">
						<button
							type="button"
							class="btn btn-success pull-right"
							ng-click="saveTeam(data.team)">{{TranslationService.getText('SETTINGS_SAVE')}}
						</button>
					</div>

					<div class="col-md-2 pull-right">
						<button
							type="submit"
							class="btn btn-danger pull-right"
							ng-click="cancel()">{{TranslationService.getText('SETTINGS_CANCEL')}}</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>