<!-- teams settings -->
<div class="well bg-white">
	<div class="row">
		<input type="hidden" name="teamId" value="">

		<div class="col-md-12 ">
			<div class="h4"> Teams</div>

			<div class="well">

				<div class="row">
					<div class="col-md-12"><button type="submit" class="btn btn-primary btn-block" onclick="form.teamId.value='';form.action.value='addTeam';form.tabpanel.value='teams'"> <i class="fa fa-plus margin_right_10"></i> Nieuw team </button></div>
				</div>

				<div class="row">
					<div class="col-md-12"><hr></div>
				</div>


				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> Demo</div>
						</div>

						<div class="col-md-5 right_text">
							<div class="btn-group btn-group-sm" role="group" aria-label="...">
								<button type="button" onclick="form.teamId.value='4C387F21-01B8-448E-ADEF-1B17849023C8';form.action.value='addTeam';form.tabpanel.value='teams';form.submit()" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wijzigen"><i class="fa yellow fa-pencil "></i> </button>
								<button type="submit" class="btn btn-default" onclick="form.teamId.value='4C387F21-01B8-448E-ADEF-1B17849023C8';form.action.value='deleteTeam';form.tabpanel.value='teams'" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verwijderen"><i class="fa red fa-remove"></i></button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
