<table class="table table-striped">
	<thead>
	<tr>
		<th class="col-md-3"
			ng-repeat="column in viewConfig.columns"
			ng-show="column.header_visible && column.visible">{{column.header_text}}</th>
		<th  class="col-md-2" ng-show="viewConfig.row_editable">Edit</th>
	</tr>
	</thead>
	<tfoot>
	<tr
		colspan="{{viewConfig.columns.length + (viewConfig.row_editable ? 1 : 0)}}"
		ng-if="viewConfig.pagination.enable">
		<td colspan="{{viewConfig.columns.length + (viewConfig.row_editable ? 1 : 0)}}">
			<uib-pagination
					total-items="totalItems"
					max-size="viewConfig.pagination.maxSize"
					boundary-link-numbers="true"
					rotate="false"
					items-per-page="viewConfig.pagination.itemsPerPage"
					class="pagination-sm"
					ng-model="currentPage"
					ng-change="paginate(currentPage)"></uib-pagination>
		</td>
	</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="row in data">
			<td ng-repeat="column in viewConfig.columns"
			    ng-if="column.visible">
					<span
						ng-if="column.cell_editable"
						editable-text="row[column.columnName.toLowerCase()]"
						onbeforesave="update($data)"
						e-name="{{column.columnName}}"
						e-form="rowform"
						class="form-control">{{row[column.columnName]}}</span>
					<span
						ng-if="!column.cell_editable">{{row[column.columnName]}}</span>
			</td>
			<td ng-show="viewConfig.row_editable">
				<button type="button" ng-click="edit(row.id)" class="btn btn-default">
					<i class="fa yellow fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-default" ng-click="delete(row.id)" title="">
					<i class="fa red fa-remove"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
