<div class="row title-container">
	<div class="col-md-12 h3" ng-bind="TranslationService.getText('SETTINGS_MY_COMPANY')"></div>
</div>

<div class="well bg-white">
	<div class="row">

		<div class="col-md-12 ">
			<div class="h4">{{TranslationService.getText('SETTINGS_CULTURE_PROPERTIES')}}</div>
			<div class="well teamsettings">


				<div class="row form-group">
					<div class="col-md-4">
						<label for="ggtgres">{{TranslationService.getText('SETTINGS_CULTURE_NAME')}}</label>
					</div>

					<div class="col-md-8">
						<input type="text"
							id="ggtgres"
							placeholder="{{TranslationService.getText('SETTINGS_CULTURE_NAME')}}"
							class="form-control"
							ng-model="data.culture.displayName">
					</div>
				</div>


				<div class="row form-group">
					<div class="col-md-4">
						<label for="GFFREFGER">{{TranslationService.getText('Innovatief')}}</label>
					</div>

					<div class="col-md-2">
						<input type="text"
						    id="GFFREFGER"
							placeholder="{{TranslationService.getText('')}}"
							class="form-control"
							ng-model="data.culture.ADHO"
						>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label for="TRGREFEWEFW">{{TranslationService.getText('Productief')}}</label>
					</div>

					<div class="col-md-2">
						<input type="text"
							id="TRGREFEWEFW"
							placeholder="{{TranslationService.getText('Score')}}"
							class="form-control"
							ng-model="data.culture.MRKT"
						>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label for="GRFEWGTR">{{TranslationService.getText('Regels en procedures')}}</label>
					</div>

					<div class="col-md-2">
						<input type="text"
					       id="GRFEWGTR"
							placeholder="{{TranslationService.getText('Score')}}"
							class="form-control"
							ng-model="data.culture.HCHY"
						>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label for="UYHT">{{TranslationService.getText('Collegiaal')}}</label>
					</div>

					<div class="col-md-2">
						<input type="text"
							id="UYHT"
							placeholder="{{TranslationService.getText('Score')}}"
							class="form-control"
							ng-model="data.culture.FAML"
						>
					</div>
				</div>


				<div class="row form-group">
					<div class="col-md-4">
						<label for="GTGRE">{{TranslationService.getText('Standaard cultuur')}}</label>
					</div>
					<div class="col-md-2">
						<input type="checkbox"
							id="GTGRE"
						    ng-model="data.culture.companyDefault"
						>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-2 pull-right">
						<button class="btn btn-success pull-right"
							ng-click="saveCulture(data.culture)"
						>
							{{TranslationService.getText('SETTINGS_SAVE')}}
						</button>
					</div>

					<div class="col-md-2 pull-right">
						<button class="btn btn-danger pull-right"
							type="submit"
							ng-click="$state.go('^',{id:'company.id'})"
						>
							{{TranslationService.getText('SETTINGS_CANCEL')}}
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>