<div class="row title-container">
	<div class="col-md-12 h3" ng-bind="TranslationService.getText('SETTINGS_MY_COMPANY')"></div>
</div>

<div class="well bg-white">
	<div class="row">


		<div class="col-md-12 ">
			<div class="h4">{{TranslationService.getText('SETTINGS_CULTURES')}}</div>

			<div class="well">

				<div class="row">
					<div class="col-md-12">
						<button ng-click="$state.go('settings.company.edit.culture')"
							class="btn btn-primary btn-block"
							type="button">
							<i class="fa fa-plus margin_right_10"></i>
							{{TranslationService.getText('SETTINGS_ADD_CULTURE')}}
						</button>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12"><hr></div>
				</div>


				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> Cultuur 3</div>
						</div>

						<div class="col-md-5 right_text">
							<div role="group" class="btn-group btn-group-sm">
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="$state.go('settings.company.edit.culture',{id:'culture.id'})"
									type="button"
								>
									<i class="fa yellow fa-pencil "></i>
								</button>
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="deleteCulture('id')"
									confirm="{{TranslationService.getText('SETTINGS_CONFIRMATION')}}"
									type="button" >
									<i class="fa red fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> Basis cultuur</div>
						</div>

						<div class="col-md-5 right_text">
							<div role="group" class="btn-group btn-group-sm">
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="$state.go('settings.company.edit.culture',{id:'culture.id'})"
									type="button"
								>
									<i class="fa yellow fa-pencil "></i>
								</button>
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="deleteCulture('id')"
									confirm="{{TranslationService.getText('SETTINGS_CONFIRMATION')}}"
									type="button" >
									<i class="fa red fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> Cultuur 1</div>
						</div>

						<div class="col-md-5 right_text">
							<div aria-label="..." role="group" class="btn-group btn-group-sm">
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="$state.go('settings.company.edit.culture',{id:'culture.id'})"
									type="button"
								>
									<i class="fa yellow fa-pencil "></i>
								</button>
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="deleteCulture('id')"
									confirm="{{TranslationService.getText('SETTINGS_CONFIRMATION')}}"
									type="button" >
									<i class="fa red fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> cultuur 4</div>
						</div>

						<div class="col-md-5 right_text">
							<div aria-label="..." role="group" class="btn-group btn-group-sm">
								<button data-placement="top"
								data-toggle="tooltip"
									class="btn btn-default"
									ng-click="$state.go('settings.company.edit.culture',{id:'culture.id'})"
									type="button"
								>
									<i class="fa yellow fa-pencil "></i>
								</button>
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									confirm="{{TranslationService.getText('SETTINGS_CONFIRMATION')}}"
									ng-click="deleteCulture('id')"
									type="button" >
									<i class="fa red fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="well well-sm bg-white teams_box">
					<div class="row">
						<div class="col-md-7">
							<div class="h9 teams_text"> Cultuur 6</div>
						</div>

						<div class="col-md-5 right_text">
							<div aria-label="..." role="group" class="btn-group btn-group-sm">
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									ng-click="$state.go('settings.company.edit.culture',{id:'culture.id'})"
									type="button"
								>
									<i class="fa yellow fa-pencil "></i>
								</button>
								<button data-placement="top"
									data-toggle="tooltip"
									class="btn btn-default"
									confirm="{{TranslationService.getText('SETTINGS_CONFIRMATION')}}"
									ng-click="deleteCulture('id')"
									type="button" >
									<i class="fa red fa-remove"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>
