<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid brand_color_1">
		<div class="navbar-header">
			<div class="logo_white" href="#"></div>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left h8">
				<li>
					<a ui-sref="joblist">Jobs</a>
				</li>
				<li>
					<a ui-sref="translations">Translations</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ui-sref="logout" >{{TranslationService.getText('LOGIN_LOGOUT')}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
