#%RAML 1.0
title: HRMatches API
version: v0.1
baseUri: http://api-development.hrmatches.com
traits:
 token_required:
    queryParameters:
      token:
        displayName: token
        type: string
        description: The server-generated token issued to the user after a successful login
        example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
        minLength: 35
        maxLength: 35
 token_optional:
    queryParameters:
      token:
        displayName: token
        type: string
        description: The server-generated token issued to the user after a successful login
        example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
        minLength: 35
        maxLength: 35

#################
# API Endpoints
#################

/validate_token:
  get:
    #description: validate a users token generated by server after succesful authentication
    is: [ token_optional ]
    responses:
      200:
        body:
          application/json:
            type: object
            properties:
              tokenIsValid: boolean
            example:
              value: {
                  "tokenIsValid": true
                }
/actionItem:
  is: [ token_optional ]
  get:
    responses:
      200:
        body:
          application/json:
            description : an unordered lists of actionitems
            type: array
            facets:
              object:
                properties:
                  itemId:
                    displayName: itemId
                    type: string
                    description: the item id
                  itemLabel:
                    displayName: itemLabel
                    type: string
                    description: the item human readable label
                  actionUrl:
                    displayName: actionUrl
                    type: string
                    description: the action (a http request) to execute when chosen
            example:
              value: [
              {
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F5FUG4D",
                "itemLabel": "Dashboard",
                "actionUrl": "/dashboard"
              },{
                "itemId": "0DDCB5D4-6C62-6D46-AC1475645F55UG4D",
                "itemLabel": "Kandidaten",
                "actionUrl": "/candidates"
              },{
                "itemId": "0DDCBBD4-6C62-6R46-AC1475645F55UG4D",
                "itemLabel": "Vacatures",
                "actionUrl": "/jobs"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1465645F55UG4D",
                "itemLabel": "Statistieken",
                "actionUrl": "/statistics"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "itemLabel": "Actief",
                "actionUrl": "/candidates/mostActive"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1575645F74FG4D",
                "itemLabel": "Recent",
                "actionUrl": "/candidates/recent"
              }]
/menu:
  is: [ token_optional ]
  get:
    description: retrieve menus for application
    queryParameters:
      depth:
        displayName: depth
        type: number
        default: 0
        description: how many levels should the menu at maximum contain? 0 = no submenus, 1 = max 1 submenu etc
        example: 2
        required: false
      node:
        displayName: Node
        type: string
        default: ""
        description: What is the menu's parent?
        example: "0DDCBBD4-6C62-6D46-AC1475645F74FG4D"
        required: true
    responses:
      200:
        body:
          application/json:
            type: array
            facets:
              object:
                properties:
                  itemId:
                    displayName: itemId
                    type: string
                  itemLabel:
                    displayName: itemLabel
                    type: string
                  parent:
                    displayName: parent
                    type: string
                  orderBy:
                    displayName: orderBy
                    type: string
                  type:
                    displayName: type
                    type: string
                  actionUrl:
                    displayName: actionUrl
                    type: string
            examples:
              singleLevel:
                [{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                  "itemLabel": "Dashboard",
                  "parent": "",
                  "orderBy": "natural",
                  "type": "singleItem",
                  "actionUrl": "/dashboard"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "itemLabel": "Vacatures",
                  "parent":"",
                  "orderBy": "natural",
                  "type":"singleItem",
                  "actionUrl": "/jobs"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                  "itemLabel": "",
                  "parent": "",
                  "orderBy": "natural",
                  "type": "itemSeparator",
                  "actionUrl": ""
                }]
              multilevel:
                [{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                  "itemLabel": "Dashboard",
                  "parent": "",
                  "orderBy": "natural",
                  "type": "singleItem",
                  "actionUrl": "/dashboard"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "itemLabel": "Vacatures",
                  "parent":"",
                  "orderBy": "natural",
                  "type":"singleItem",
                  "actionUrl": "/jobs"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                  "itemLabel": "",
                  "parent": "",
                  "orderBy": "natural",
                  "type":itemSeparator,
                  "actionUrl": ""
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "itemLabel": "Kandidaten",
                  "parent": "",
                  "orderBy": "natural",
                  "type":"compoundItem",
                  "actionUrl": "/candidates"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "itemLabel": "Actief",
                  "parent": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "orderBy": "natural",
                  "type":"singleItem",
                  "actionUrl": "/candidates/mostActive"
                },{
                  "itemId": "0DDCBBD4-6C62-6D46-AC1575645F74FG4D",
                  "itemLabel": "Recent",
                  "parent": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                  "orderBy": "natural",
                  "type":"singleItem",
                  "actionUrl": "/candidates/recent"
                },{
                  "itemId": "0DDCBBD4-6C61-6D46-AC1475645F74FG4D",
                  "itemLabel": "Statistieken",
                  "parent": "",
                  "orderBy": "natural",
                  "type": "singleItem",
                  "actionUrl": "/statistics"
                }]
  /{node}:
    description: Where in the menu context tree does this menu appear? value "" means there is no parent menu, any other value implies this is a submenu.
    get:
      responses:
        200:
          body:
            Application/json:
              properties:
                node:
                  displayName: Parent node
                  type: string
                  default: ""
                  description: Where in the menu context tree does this menu appear? value "" means there is no parent menu, any other value implies this is a submenu.
                  example: "0DDCBBD4-6C62-6D46-AC1475645F74FG4D"
                  required: true
/validate_secretkey:
  post:
    body:
      application/json:
        properties:
          secretkey:
            displayName: secretkey
            type: string
            description: Secret key validates the user who requested resetpassword
            example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
            required: true
            minLength: 35
            maxLength: 35
/vacancy:
  get:
    queryParameters:
      id:
        displayName: id
        type: string
        description: sd
        example: ss
        required: false
/users:
  get:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: false
    responses:
      200:
        body:
          application/json:
            type: array
            facets:
              objects:
                properties:
                  firstName: string
                  infix: string
                  id: string
                  emailaddress: string
                  lastName: string
                  examples:
                    array: |
                        [{
                          "firstName": "John",
                          "infix": "",
                          "id": "605a0302-cc33-449a-ac50-5ef26e3e3330",
                          "emailaddress": "john@doe.nl",
                          "lastName": "Doe"
                          },{
                          "firstName": "May",
                          "infix": "",
                          "id": "605a0302-cd33-449a-aj50-5ef26e3e5230",
                          "emailaddress": "may@doe.nl",
                          "lastName": "Doe"
                         },{
                         "firstName": "Will",
                         "infix": "",
                         "id": "605a0312-ch33-449a-ac50-5efd6e3e3330",
                         "emailaddress": "will@doe.nl",
                         "lastName": "Doe"
                         },{
                         "firstName": "Cat",
                         "infix": "",
                         "id": "605a0302-ck33-449a-ac50-5ef26e3e5230",
                         "emailaddress": "cat@doe.nl",
                         "lastName": "Doe"
                         }]
                    singleton: |
                          {
                          "firstName": "John",
                          "infix": "",
                          "id": "605a0302-cc33-449a-ac50-5ef26e3e3330",
                          "emailaddress": "john@doe.nl",
                          "lastName": "Doe"
                          }
  post:
    is: [ token_required ]
    body:
      application/json:
        properties:
          person:
            displayName: person
            required: true
            type: string
          token:
            displayName: token
            required: true
            type: string
            example: |
              {
                person: {},
                token: ''
              }
  delete:
   is: [ token_required ]
   queryParameters:
      teamId:
        displayName: teamId
        required: false
      personId:
        displayName: personId
        required: true
/translationCategory:
  get:
    is: [token_required]
/translation:
  get:
    queryParameters:
      language:
        displayName: language
        required: false
      languageKey:
        displayName: languageKey
        required: false
    responses:
      200:
        body:
          application/json:
            type: object
            facets:
              configuration:
                properties:
                  columns:
                    type: object
                    facets:
                      visible: boolean
                      columnName: boolean
                      header_visible: boolean
                      header_text: boolean
                      cell_editable: boolean
                  row_editable:
                      type: boolean
                  pagination:
                    type: object
                    facets:
                      enable: boolean
                      itemsPerPage: integer
                      maxSize: integer
              data:
                type: array
                facets:
                  objects:
                    properties:
                      DisplayName: string
                      id: string
                examples:
                  array: |
                    {
                    "configuration": {
                    "columns": [
                        {
                           "visible": true,
                           "columnName": "id",
                           "header_visible": true,
                           "header_text": "id",
                           "cell_editable": false
                        },
                        {
                           "visible": true,
                           "columnName": "DisplayName",
                           "header_visible": true,
                           "header_text": "DisplayName",
                           "cell_editable": false
                        },
                        {
                           "visible": true,
                           "columnName": "displayName",
                           "header_visible": true,
                           "header_text": "displayName",
                           "cell_editable": false
                        }
                     ],
                      "row_editable": true,
                      "pagination": {
                          "enable": true,
                          "itemsPerPage": 15,
                          "maxSize": 10
                        }
                      },
                  "data": [
                     {
                        "DisplayName": "Over kandidaat",
                        "id": "APPLICANT_ABOUT_CANDIDATE"
                     },
                     {
                        "DisplayName": "Activiteiten",
                        "id": "APPLICANT_ACTIVITY"
                     },
                     {
                        "DisplayName": "Notitie",
                        "id": "APPLICANT_ADD_NOTE"
                     },
                     {
                        "DisplayName": "Taak",
                        "id": "APPLICANT_ADD_TASK"
                     }]
/trackdata:
  post:
    body:
      application/json:
        properties:
          trackingData:
            displayName: trackingData
            required: true
            type: object
            description: A collection of browser object properties to identify the client
            properties:
              token: string
              state: string
              protocol: string
              hostname: string
              href: string
              appVersion: string
              language: string
              platform: string
              userAgent: string
              screenSize: string
              colorDepth: string
        example: |
          {
            "trackingData": {
              "token": "0DDCBBD4-6C62-6D46-AC1475645F74A49D",
              "state": "settings.account.person",
              "protocol": "http:",
              "hostname": "ojt.hrmatches.com",
              "href": "http://ojt.hrmatches.com/#/settings/account",
              "appVersion": "5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36",
              "language": "en-US",
              "platform": "Win32",
              "userAgent": "Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36",
              "screenSize": "1280*1024",
              "colorDepth": "24"
            }
          }
/test:
  get:
    is: [ token_optional ]
    queryParameters:
      id:
        displayName: id
        required: false
/teams:
  get:
    queryParameters:
      teamId:
        displayName: teamId
        required: false
    responses:
      200:
        body:
          application/json:
            #type: array -- not specifying type of response since it varies: no teamId gives array, specifying teamId gives object
            facets:
              objects:
                properties:
                  displayName: string
                  id: string
                  domainOwnerId: string
                  members:
                    type: array
                    required: false # required for singleton
            examples:
              array: |
                [{
                  "displayName": "Logistics",
                  "id": "ae6a0c10-682f-44776-77355-03cc6u9bdd7",
                  "domainOwnerId": "83599755-1855-4f88-9c09-7caf99a6a6b2"
                  },{
                  "displayName": "HR",
                  "id": "b367ed11-7d94-4353-a8c4-489160b747c3",
                  "domainOwnerId": "83569745-1855-4f88-9c09-7caf9ea6c6b2"
                  },{
                  "displayName": "Demo",
                  "id": "4c387h21-01b8-448e-adff-1b158440d3c8",
                  "domainOwnerId": "83399755-1855-4f68-9c79-7c9f99h6a6b2"
                  }]
              singleton:
                  {
                    "members": [],
                    "displayName": "Demo",
                    "id": "4c387h21-01b8-448e-adff-1b158440d3c8",
                    "domainOwnerId": "83399755-1855-4f68-9c79-7c9f99h6a6b2"
                  }
  post:
    body:
      application/json:
        properties:
          teams:
            displayName: teams
            required: true
            type: array
            facets:
              objects:
                properties:
                  id: 0
                  displayName:
                    type: string
                    default: "New Team"
                  token: ""
                  domainOwnerId: 0
                  members:
                    type: array
                    facets:
                      objects:
                        properties:
                          firstName: string
                          infix: string
                          roleId: string
                          lastName: string
                          personId: string
        example:
          {
            "teams": [{
              "id": 0
              ,"displayName": "New Team"
              ,"domainOwnerId": 0
              ,"members": [{
                "firstName": "Jean",
                "infix": "",
                "roleId": 30,
                "lastName": "Pieter",
                "personId": "fbabcb4b-bf44-4ce3-871c-118c1c5d322a"
              }]
              ,"token":""
            }]
          }
  put:
    body:
      application/json:
        properties:
          teams:
            displayName: teams
            required: true
            type: array
            facets:
              objects:
                properties:
                  id: 0
                  displayName:
                    type: string
                    default: "New Team"
                  token: ""
                  domainOwnerId: 0
                  members:
                    type: array
                    facets:
                      objects:
                        properties:
                          firstName: string
                          infix: string
                          roleId: string
                          lastName: string
                          personId: string
        example:
          {
            "teams": [{
              "id": 0
              ,"displayName": "New Team"
              ,"domainOwnerId": 0
              ,"members": [{
                "firstName": "Jean",
                "infix": "",
                "roleId": 30,
                "lastName": "Pieter",
                "personId": "fbabcb4b-bf44-4ce3-871c-118c1c5d322a"
              }]
              ,"token":""
            }]
          }
  delete:
    queryParameters:
      teamId:
        displayName: teamId
        required: true
/role:
  is: [token_required]
  get:
    responses:
      200:
        body:
          application/json:
            type: array
            facets:
              objects:
                properties:
                  displayName: string
                  id: integer
                  systemName: string
                  PERMISSIONS:
                    type: array
                    facets:
                      objects:
                        properties:
                          displayName:
                            displayName: displayName
                            type: string
                          id: string
                          permissionName: string
            example: |
              [{
                "displayName": "Manager",
                "PERMISSIONS": [
                   {
                      "displayName": "SEND MESSAGES",
                      "id": 15,
                      "permissionName": "SEND MESSAGES"
                   },{
                      "displayName": "EDIT JOB STATUS",
                      "id": 5,
                      "permissionName": "EDIT JOB STATUS"
                   },{
                      "displayName": "EDIT JOB",
                      "id": 4,
                      "permissionName": "EDIT JOB"
                   },{
                      "displayName": "MATCHING",
                      "id": 17,
                      "permissionName": "MATCHING"
                   },{
                      "displayName": "ADMINISTRATION",
                      "id": 12,
                      "permissionName": "ADMINISTRATION"
                   },{
                      "displayName": "BULK ACTION",
                      "id": 32,
                      "permissionName": "BULK ACTION"
                   },{
                      "displayName": "USERMANAGEMENT",
                      "id": 11,
                      "permissionName": "USERMANAGEMENT"
                   },{
                      "displayName": "CREATE JOB",
                      "id": 3,
                      "permissionName": "CREATE JOB"
                   },{
                      "displayName": "ACCOUNT",
                      "id": 16,
                      "permissionName": "ACCOUNT"
                   },{
                      "displayName": "ACTIVITYSTREAM",
                      "id": 8,
                      "permissionName": "ACTIVITYSTREAM"
                   },{
                      "displayName": "CANDIDATES",
                      "id": 7,
                      "permissionName": "CANDIDATES"
                   },{
                      "displayName": "STATISTICS",
                      "id": 6,
                      "permissionName": "STATISTICS"
                   },{
                      "displayName": "TAGMANAGEMENT",
                      "id": 13,
                      "permissionName": "TAGMANAGEMENT"
                   },{
                      "displayName": "PUBLISH JOB",
                      "id": 14,
                      "permissionName": "PUBLISH JOB"
                   }],
                "id": 29,
                "systemName": "Manager"
                },{
                  "displayName": "Beoordelaar",
                  "PERMISSIONS": [{
                        "displayName": "VIEW JOBS",
                        "id": 21,
                        "permissionName": "VIEW JOBS"
                     }],
                  "id": 30,
                  "systemName": "Beoordelaar"
               }]
  post:
    body:
      application/json:
        type: array
        facets:
          objects:
            properties:
              displayName: string
              id: string
              systemName: string
              PERMISSIONS:
                type: array
                facets:
                  objects:
                    properties:
                      displayName:
                        displayName: displayName
                        type: string
                      id: integer
                      permissionName: string
        example: |
          [{
            "displayName": "Manager",
            "PERMISSIONS": [
               {
                  "displayName": "SEND MESSAGES",
                  "id": 15,
                  "permissionName": "SEND MESSAGES"
               },{
                  "displayName": "EDIT JOB STATUS",
                  "id": 5,
                  "permissionName": "EDIT JOB STATUS"
               },{
                  "displayName": "EDIT JOB",
                  "id": 4,
                  "permissionName": "EDIT JOB"
               },{
                  "displayName": "MATCHING",
                  "id": 17,
                  "permissionName": "MATCHING"
               },{
                  "displayName": "ADMINISTRATION",
                  "id": 12,
                  "permissionName": "ADMINISTRATION"
               },{
                  "displayName": "BULK ACTION",
                  "id": 32,
                  "permissionName": "BULK ACTION"
               },{
                  "displayName": "USERMANAGEMENT",
                  "id": 11,
                  "permissionName": "USERMANAGEMENT"
               },{
                  "displayName": "CREATE JOB",
                  "id": 3,
                  "permissionName": "CREATE JOB"
               },{
                  "displayName": "ACCOUNT",
                  "id": 16,
                  "permissionName": "ACCOUNT"
               },{
                  "displayName": "ACTIVITYSTREAM",
                  "id": 8,
                  "permissionName": "ACTIVITYSTREAM"
               },{
                  "displayName": "CANDIDATES",
                  "id": 7,
                  "permissionName": "CANDIDATES"
               },{
                  "displayName": "STATISTICS",
                  "id": 6,
                  "permissionName": "STATISTICS"
               },{
                  "displayName": "TAGMANAGEMENT",
                  "id": 13,
                  "permissionName": "TAGMANAGEMENT"
               },{
                  "displayName": "PUBLISH JOB",
                  "id": 14,
                  "permissionName": "PUBLISH JOB"
               }],
            "id": 0,
            "systemName": "Manager"
            }]
  put:
    body:
      application/json:
        type: array
        facets:
          objects:
            properties:
              displayName: string
              id: string
              systemName: string
              PERMISSIONS:
                type: array
                facets:
                  objects:
                    properties:
                      displayName:
                        displayName: displayName
                        type: string
                      id: integer
                      permissionName: string
        example: |
          [{
            "displayName": "Manager",
            "PERMISSIONS": [
               {
                  "displayName": "SEND MESSAGES",
                  "id": 15,
                  "permissionName": "SEND MESSAGES"
               },{
                  "displayName": "EDIT JOB STATUS",
                  "id": 5,
                  "permissionName": "EDIT JOB STATUS"
               },{
                  "displayName": "EDIT JOB",
                  "id": 4,
                  "permissionName": "EDIT JOB"
               },{
                  "displayName": "MATCHING",
                  "id": 17,
                  "permissionName": "MATCHING"
               },{
                  "displayName": "ADMINISTRATION",
                  "id": 12,
                  "permissionName": "ADMINISTRATION"
               },{
                  "displayName": "BULK ACTION",
                  "id": 32,
                  "permissionName": "BULK ACTION"
               },{
                  "displayName": "USERMANAGEMENT",
                  "id": 11,
                  "permissionName": "USERMANAGEMENT"
               },{
                  "displayName": "CREATE JOB",
                  "id": 3,
                  "permissionName": "CREATE JOB"
               },{
                  "displayName": "ACCOUNT",
                  "id": 16,
                  "permissionName": "ACCOUNT"
               },{
                  "displayName": "ACTIVITYSTREAM",
                  "id": 8,
                  "permissionName": "ACTIVITYSTREAM"
               },{
                  "displayName": "CANDIDATES",
                  "id": 7,
                  "permissionName": "CANDIDATES"
               },{
                  "displayName": "STATISTICS",
                  "id": 6,
                  "permissionName": "STATISTICS"
               },{
                  "displayName": "TAGMANAGEMENT",
                  "id": 13,
                  "permissionName": "TAGMANAGEMENT"
               },{
                  "displayName": "PUBLISH JOB",
                  "id": 14,
                  "permissionName": "PUBLISH JOB"
               }],
            "id": 0,
            "systemName": "Manager"
            }, {
            "displayName": "Beoordelaar",
            "PERMISSIONS": [{
             "displayName": "VIEW JOBS",
             "id": 21,
             "permissionName": "VIEW JOBS"
           }],
            "id": 30,
            "systemName": "Beoordelaar"
          }]
  delete:
    queryParameters:
      roleId:
        displayName: roleId
        required: true
/resetpassword:
  post:
    body:
      application/json:
        properties:
          secretkey:
            displayName: secretkey
            required: true
          passWord:
            displayName: passWord
            required: true
/registration:
  post:
    body:
      application/json:
        properties:
          personId:
            displayName: personId
            required: false
          firstName:
            displayName: firstName
            required: false
          infix:
            displayName: infix
            required: false
          lastName:
            displayName: lastName
            required: false
          emailaddress:
            displayName: emailaddress
            required: false
          username:
            displayName: username
            required: false
          password:
            displayName: password
            required: false
          candidateOrigin:
            displayName: candidateOrigin
            required: false
/references:
  get:
    is: [ token_required ]
    queryParameters:
      id:
        displayName: id
        required: false
  post:
    is: [ token_required ]
    body:
      application/json:
        properties:
          reference:
            displayName: reference
            required: true
  put:
    is: [ token_required ]
    queryParameters:
     reference:
      displayName: reference
      required: true
  delete:
    is: [ token_required ]
    queryParameters:
     id:
      displayName: id
      required: true
/profilestore:
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: false
/profile:
  get:
    is: [ token_required ]
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: true
/permission:
  get:
/matchingconfigurations:
  is: [ token_required ]
  get:
    queryParameters:
      matchingId:
        displayName: matchingId
        required: false
  post:
    body:
      application/json:
        properties:
          matchingConfiguration:
            displayName: matchingConfiguration
            type: object
            required: true
  put:
    queryParameters:
      matchingConfiguration:
        displayName: matchingConfiguration
        type: object
        required: true
  delete:
    queryParameters:
     matchingId:
      displayName: matchingId
      required: true
/match:
  get:
    is: [ token_required ]
    queryParameters:
      jobId:
        displayName: jobId
        required: false
/logout:
  is: [ token_required ]
  post:
    body:
      application/json:
        properties:
          tokens:
            displayName: tokens
            required: false
/login:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: true
          password:
            displayName: password
            required: true
          deviceId:
            displayName: deviceId
            required: false
          domainId:
            displayName: domainId
            required: true
/language:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/jobs:
  get:
  is: [ token_optional ]
/jobdomains:
  get:
    queryParameters:
      jobDomainId:
        displayName: jobDomainId
        required: false
  post:
    body:
      application/json:
        properties:
          jobDomains:
            displayName: jobDomains
            required: true
  put:
    queryParameters:
      jobDomains:
        displayName: jobDomains
        required: true
  delete:
    queryParameters:
      jobDomainId:
        displayName: jobDomainId
        required: true
/jobapplications:
  get:
    is: [ token_required ]
    queryParameters:
      id:
        displayName: id
        required: false
/forgotpassword:
  post:
    body:
      application/json:
        properties:
          emailaddress:
            displayName: emailaddress
            required: true
          hostName:
            displayName: hostName
            required: false
/educationtype:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/driverlicense:
  get:
/documentresponse:
  get:
    queryParameters:
      documentname:
        displayName: documentname
        required: false
/documentparser:
  post:
    body:
      application/json:
        properties:
          fileupload:
            displayName: fileupload
            required: false
/cvstore:
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: false
/cultures:
  is: [ token_required ]
  get:
    queryParameters:
      cultureId:
        displayName: cultureId
        required: false
  post:
    body:
      application/json:
        properties:
          culture:
            displayName: culture
            required: true
  put:
    queryParameters:
      culture:
        displayName: culture
        required: true
  delete:
    queryParameters:
      id:
        displayName: id
        required: true
/country:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/companyinfo:
  get:
    is: [ token_optional ]
  put:
    is: [ token_optional ]
    queryParameters:
      companyinfo:
        displayName: companyinfo
        required: false
/branche:
  get:
/authenticatesocial:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: false
          provider:
            displayName: provider
            required: false
          providerId:
            displayName: providerId
            required: false
          deviceId:
            displayName: deviceId
            required: false
/authenticate:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: true
          password:
            displayName: password
            required: true
/activityLog:
  get:
    is: [ token_required ]
    queryParameters:
      jobId:
        displayName: jobId
        required: false
/account:
  get:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: true
  delete:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: true
  put:
    is: [ token_required ]
    queryParameters:
      person:
        displayName: person
        type: object
        required: true
