#%RAML 1.0
title: APIHRMatches
version: 0.1
protocols: [ HTTPS ]
baseUri: http://api-development.hrmatches.com
traits:
 token_required:
    queryParameters:
      token:
        displayName: token
        type: string
        description: The server-generated token issued to the user after a successful login
        example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
        minLength: 35
        maxLength: 35
 token_optional:
    queryParameters:
      token:
        displayName: token
        type: string
        description: The server-generated token issued to the user after a successful login
        example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
        minLength: 35
        maxLength: 35

#################
# API Endpoints
#################

/validate_token:
  get:
    #description: validate a users token generated by server after succesful authentication
    is: [ token_optional ]
    responses:
      200:
        body:
          application/json:
            type: object
            properties:
              tokenIsValid: boolean
            example: |
              {
              "tokenIsValid": true
              }
/actionItem:
  is: [ token_optional ]
  get:
    responses:
      200:
        body:
          application/json:
            type: object
            properties:
              itemId: string
            description : an unordered lists of actionitems
            example: {
              "data": [
              {
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F5FUG4D",
                "itemLabel": "Dashboard",
                "actionUrl": "/dashboard"
              },{
                "itemId": "0DDCB5D4-6C62-6D46-AC1475645F55UG4D",
                "itemLabel": "Kandidaten",
                "actionUrl": "/candidates"
              },{
                "itemId": "0DDCBBD4-6C62-6R46-AC1475645F55UG4D",
                "itemLabel": "Vacatures",
                "actionUrl": "/jobs"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1465645F55UG4D",
                "itemLabel": "Statistieken",
                "actionUrl": "/statistics"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "itemLabel": "Actief",
                "actionUrl": "/candidates/mostActive"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1575645F74FG4D",
                "itemLabel": "Recent",
                "actionUrl": "/candidates/recent"
              }]
              }
/menu:
  is: [ token_optional ]
  get:
    description: retrieve menus for application
    queryParameters:
      depth:
        displayName: depth
        type: number
        default: 0
        description: how many levels should the menu at maximum contain? 0 = no submenus, 1 = max 1 submenu etc
        example: 2
        required: false
    responses:
      200:
        body:
          Application/json:
            description: The menu item represents the action that is taken when the user chooses the item. An itemlabel is the text shown to the user.The type of a menuitem can be  "singleItem","compoundItem" or "itemSeparator"
            example: [
              {
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                "itemLabel": "Dashboard",
                "parent": "",
                "orderBy": "natural",
                "type": "singleItem",
                "actionUrl": "/dashboard"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "itemLabel": "Vacatures",
                "parent":"",
                "orderBy": "natural",
                "type":"singleItem",
                "actionUrl": "/jobs"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FG4D",
                "itemLabel": "",
                "parent": "",
                "orderBy": "natural",
                "type":itemSeparator,
                "actionUrl": ""
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "itemLabel": "Kandidaten",
                "parent": "",
                "orderBy": "natural",
                "type":"compoundItem",
                "actionUrl": "/candidates"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "itemLabel": "Actief",
                "parent": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "orderBy": "natural",
                "type":"singleItem",
                "actionUrl": "/candidates/mostActive"
              },{
                "itemId": "0DDCBBD4-6C62-6D46-AC1575645F74FG4D",
                "itemLabel": "Recent",
                "parent": "0DDCBBD4-6C62-6D46-AC1475645F74FF4D",
                "orderBy": "natural",
                "type":"singleItem",
                "actionUrl": "/candidates/recent"
              },{
                "itemId": "0DDCBBD4-6C61-6D46-AC1475645F74FG4D",
                "itemLabel": "Statistieken",
                "parent": "",
                "orderBy": "natural",
                "type": "singleItem",
                "actionUrl": "/statistics"
              }
            ]
  /{node}:
    description: Where in the menu context tree does this menu appear? value "" means there is no parent menu, any other value implies this is a submenu.
    get:
      responses:
        200:
          body:
            Application/json:
              properties:
                node:
                  displayName: Parent node
                  type: string
                  default: ""
                  description: Where in the menu context tree does this menu appear? value "" means there is no parent menu, any other value implies this is a submenu.
                  example: "0DDCBBD4-6C62-6D46-AC1475645F74FG4D"
                  required: false
/validate_secretkey:
  post:
    body:
      application/json:
        properties:
          secretkey:
            displayName: secretkey
            type: string
            description: Secret key validates the user who requested resetpassword
            example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
            required: false
            minLength: 35
            maxLength: 35
/vacancy:
  get:
    queryParameters:
      id:
        displayName: id
        type: string
        description: sd
        example: ss
        required: false
/users:
  get:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: false
  post:
    is: [ token_required ]
    body:
      application/json:
        properties:
          person:
            displayName: person
            required: true
            example: |
              {
                person: {},
                token: ''
              }
  delete:
   is: [ token_required ]
   queryParameters:
      teamId:
        displayName: teamId
        required: false
      personId:
        displayName: personId
        required: true
/translationCategory:
  get:
/translation:
  get:
    queryParameters:
      language:
        displayName: language
        required: false
      languageKey:
        displayName: languageKey
        required: false
/trackdata:
  post:
    body:
      application/json:
        properties:
          trackingData:
            displayName: trackingData
            required: true
            example: |
              {
               "trackingData": ""
              }
/test:
  get:
    is: [ token_optional ]
    queryParameters:
      id:
        displayName: id
        required: false
/teams:
  get:
    queryParameters:
      teamId:
        displayName: teamId
        required: false
  post:
    body:
      application/json:
        properties:
          teams:
            displayName: teams
            required: true
  put:
    queryParameters:
      teams:
        displayName: teams
        required: true
  delete:
    queryParameters:
      teamId:
        displayName: teamId
        required: true
/socialregistration:
  post:
    body:
      application/json:
        properties:
          personId:
            displayName: personId
            type: string
            required: false
          firstName:
            displayName: firstName
            type: string
            required: false
          infix:
            displayName: infix
            type: string
            required: false
          lastName:
            displayName: lastName
            type: string
            required: false
          emailaddress:
            displayName: emailaddress
            type: string
            required: false
          username:
            displayName: username
            type: string
            required: false
          password:
            displayName: password
            type: string
            required: false
          candidateOrigin:
            displayName: candidateOrigin
            type: string
            required: false
          provider:
            displayName: provider
            type: string
            required: false
          providerId:
            displayName: providerId
            type: string
            required: false
/skill:
  get:
/role:
  get:
  post:
    body:
      application/json:
        properties:
          roles:
            displayName: roles
            type: array
            required: true
  put:
    queryParameters:
      roles:
        displayName: roles
        type: array
        required: true
  delete:
    queryParameters:
      roleId:
        displayName: roleId
        required: true
/resetpassword:
  post:
    body:
      application/json:
        properties:
          secretkey:
            displayName: secretkey
            required: true
          passWord:
            displayName: passWord
            required: true
/registration:
  post:
    body:
      application/json:
        properties:
          personId:
            displayName: personId
            required: false
          firstName:
            displayName: firstName
            required: false
          infix:
            displayName: infix
            required: false
          lastName:
            displayName: lastName
            required: false
          emailaddress:
            displayName: emailaddress
            required: false
          username:
            displayName: username
            required: false
          password:
            displayName: password
            required: false
          candidateOrigin:
            displayName: candidateOrigin
            required: false
/references:
  get:
    is: [ token_required ]
    queryParameters:
      id:
        displayName: id
        required: false
  post:
    is: [ token_required ]
    body:
      application/json:
        properties:
          reference:
            displayName: reference
            required: true
  put:
    is: [ token_required ]
    queryParameters:
     reference:
      displayName: reference
      required: true
  delete:
    is: [ token_required ]
    queryParameters:
     id:
      displayName: id
      required: true
/profilestore:
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: false
/profile:
  get:
    is: [ token_required ]
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: true
/permission:
  get:
/matchingconfigurations:
  is: [ token_required ]
  get:
    queryParameters:
      matchingId:
        displayName: matchingId
        required: false
  post:
    body:
      application/json:
        properties:
          matchingConfiguration:
            displayName: matchingConfiguration
            type: object
            required: true
  put:
    queryParameters:
      matchingConfiguration:
        displayName: matchingConfiguration
        type: object
        required: true
  delete:
    queryParameters:
     matchingId:
      displayName: matchingId
      required: true
/match:
  get:
    is: [ token_required ]
    queryParameters:
      jobId:
        displayName: jobId
        required: false
/logout:
  is: [ token_required ]
  post:
    body:
      application/json:
        properties:
          tokens:
            displayName: tokens
            required: false
/login:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: true
          password:
            displayName: password
            required: true
          deviceId:
            displayName: deviceId
            required: false
          domainId:
            displayName: domainId
            required: true
/language:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/jobs:
  get:
  is: [ token_optional ]
/jobdomains:
  get:
    queryParameters:
      jobDomainId:
        displayName: jobDomainId
        required: false
  post:
    body:
      application/json:
        properties:
          jobDomains:
            displayName: jobDomains
            required: true
  put:
    queryParameters:
      jobDomains:
        displayName: jobDomains
        required: true
  delete:
    queryParameters:
      jobDomainId:
        displayName: jobDomainId
        required: true
/jobapplications:
  get:
    is: [ token_required ]
    queryParameters:
      id:
        displayName: id
        required: false
/forgotpassword:
  post:
    body:
      application/json:
        properties:
          emailaddress:
            displayName: emailaddress
            required: true
          hostName:
            displayName: hostName
            required: false
/educationtype:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/driverlicense:
  get:
/documentresponse:
  get:
    queryParameters:
      documentname:
        displayName: documentname
        required: false
/documentparser:
  post:
    body:
      application/json:
        properties:
          fileupload:
            displayName: fileupload
            required: false
/cvstore:
  post:
    body:
      application/json:
        properties:
          aData:
            displayName: aData
            required: false
/cultures:
  is: [ token_required ]
  get:
    queryParameters:
      cultureId:
        displayName: cultureId
        required: false
  post:
    body:
      application/json:
        properties:
          culture:
            displayName: culture
            required: true
  put:
    queryParameters:
      culture:
        displayName: culture
        required: true
  delete:
    queryParameters:
      id:
        displayName: id
        required: true
/country:
  get:
    queryParameters:
      id:
        displayName: id
        required: false
/companyinfo:
  get:
    is: [ token_optional ]
  put:
    is: [ token_optional ]
    queryParameters:
      companyinfo:
        displayName: companyinfo
        required: false
/branche:
  get:
/authenticatesocial:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: false
          provider:
            displayName: provider
            required: false
          providerId:
            displayName: providerId
            required: false
          deviceId:
            displayName: deviceId
            required: false
/authenticate:
  post:
    body:
      application/json:
        properties:
          username:
            displayName: username
            required: true
          password:
            displayName: password
            required: true
/activityLog:
  get:
    is: [ token_required ]
    queryParameters:
      jobId:
        displayName: jobId
        required: false
/account:
  get:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: true
  delete:
    is: [ token_required ]
    queryParameters:
      personId:
        displayName: personId
        required: true
  put:
    is: [ token_required ]
    queryParameters:
      person:
        displayName: person
        type: object
        required: true
