#%RAML 0.8
title: RamlTutorialAPI
version: 1
#baseUri: http://api.e-bookmobile.com/{version}
baseUri: https://mocksvc.mulesoft.com/mocks/e65df199-c862-4055-91f1-6fc77e1a5588/{version}


/validate_token:
  description: validate a users token generated by server after succesful authentication
  get:
    description: validate the token
    baseUriParameters:
      token:
        displayName: token
        type: string
        description: The server-generated token issued to the user after a successful login
        example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
        minLength: 35
        maxLength: 35
    responses:
      200:
        body:
          application/json:
            example: |
              {tokenIsValid": true}
/menu:
  get:
    description: retrieve all menus for application 0 level deep (no submenus). Response depends on application,user authorization and settings (e.g. language)
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/menu?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
      depth:
        displayName: depth
        type: number
        default: 0
        description: how many levels should the menu at maximum contain? 0 = no submenus, 1 = max 1 submenu etc
        example: http://api-development.hrmatches.com/menu?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68&depth=2
        required: false
    responses:
      200:
        body:
          Application/json:
            example: |
              [{
                "id": 1,
                "displayName": "SETTINGS_ACCOUNT",
                "url": "/settings/account",
                "title": "SETTINGS_ACCOUNT_DESCRIPTION",
                "items": [{ //submenu
                  "id": 1,
                  "displayName": "SETTINGS_PERSON",
                  "url": "/settings/account/person",
                  "title": "SETTINGS_PERSON_DESCRIPTION"
                },{  "id": 2,
                  "displayName": "SETTINGS_PASSWORD",
                  "url": "/settings/account/password",
                  "title": "SETTINGS_PASSWORD_DESCRIPTION"
                },{  "id": 3,
                  "displayName": "SETTINGS_ACCOUNT",
                  "url": "/settings/account/delete",
                  "title": "SETTINGS_ACCOUNT_DESCRIPTION"
                }]
              }, {
                "id": 2,
                "displayName": "SETTINGS_MY_COMPANY",
                "url": "/settings/company",
                "title": "SETTINGS_MY_COMPANY_DESCRIPTION"
              }]
  /{node}:
    description: get a specific menu
    get:
      responses:
        200:
          body:
            Application/json:
              example: |
               [{
                 id": 1,
                 "displayName": "SETTINGS_ACCOUNT",
                 "url": "/settings/account",
                 "title": "SETTINGS_ACCOUNT_DESCRIPTION"
                }]

/validate_secretkey:
  post:
    body:
      application/json:
        formParameters:
          secretkey:
            displayName: secretkey
            type: string
            description: When user forgets password (s)he receives a link with this secretkey to reset it. Secret key is to validate the user who requested resetpassword is the same as who submits the new password
            example: E27B40D6-6C62-6D46-AC144BDF0E9A1D68
            required: false
            minLength: 35
            maxLength: 35
/vacancy:
  get:
    queryParameters:
      id:
        displayName: id
        type: string
        description: sd
        example: ss
        required: false
/users:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
      personId:
        displayName: personId
        required: false
  post:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
      person:
        displayName: personId
        required: true
    body:
     Application/json:
       example: |
        {
          person: {},
          token: ''
        }
  delete:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
      teamId:
        displayName: teamId
        required: false
      personId:
        displayName: personId
        required: true
/translationCategory:
  get:
/translation:
  get:
    queryParameters:
      language:
        displayName: language
        required: true
      languageKey:
        displayName: languageKey
        required: true
/trackdata:
  post:
    queryParameters:
      trackingData:
        displayName: trackingData
        required: true
    body:
      application/json:
        example: |
          {
           "trackingData": ""
          }
/test:
  get:
      queryParameters:
        token:
          displayName: token
          type: string
          description: the users token. Not needed for menuitems that have to be accessible when not   logged in
          example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
          required: false
        id:
          displayName: id
          required: false

/teams::
  get:
    queryParameters:
      teamId:
        displayName: teamId
        required: false
  post:
    queryParameters:
      teams:
        displayName: teams
        required: true
  put:
    queryParameters:
      teams:
        displayName: teams
        required: true
  delete:
    queryParameters:
      teamId:
        displayName: teamId
        required: true
/socialregistration:
  post:
    body:
      application/json:
        example: |
          {
            "firstName": "",
            "infix": "",
            "providerId": "",
            "username": "",
            "provider": "",
            "password": "",
            "candidateOrigin": "",
            "emailaddress": "",
            "lastName": "",
            "personId": ""
         }
/skill:
  get:
/role:
  get:
  post:
  put:
  delete:
/resetpassword:
  post:
/registration:
  post:
/references:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  post:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  put:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  delete:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/profilestore:
  post:
/profile:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  post:
/permission:
  get:
/matchingconfigurations:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  post:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  put:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  delete:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/match:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/logout:
  post:
    queryParameters:
      tokens:
        displayName: tokens
        type: string
        description: token of user(s) to logout.
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
/login:
  post:
/language:
  get:
/jobs:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
/jobdomains:
  get:
  post:
  put:
  delete:
/jobapplications:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/forgotpassword:
  post:
/educationtype:
  get:
/driverlicense:
  get:
/documentresponse:
  get:
/documentparser:
  post:
/cvstore:
  post:
/cultures:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  post:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  put:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  delete:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/country:
  get:
/companyinfo:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
  put:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: false
/branche:
  get:
/authenticatesocial:
  post:
/authenticate:
  post:
/activityLog:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
/account:
  get:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  put:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true
  delete:
    queryParameters:
      token:
        displayName: token
        type: string
        description: the users token. Not needed for menuitems that have to be accessible when not logged in
        example: http://api-development.hrmatches.com/?token=E27B40D6-6C62-6D46-AC144BDF0E9A1D68
        required: true