
<div ng-form="resetPasswordForm">
	<div class = "well">
		<div class = "row">
			<div class = "col-md-12 usersettings_add" ng-form="resetPasswordForm">
				<div class = "h4 margin_bottom_20">{{TranslationService.getText('SETTINGS_ADD_NEW_MEMBER')}}</div>

				<div class = "row form-group">
					<div class = "col-md-4">
						<input
							type = "text"
							class = "form-control"
							placeholder = "{{TranslationService.getText('SETTINGS_FIRSTNAME')}}"
							ng-model = "newUser.firstName"
							required>
					</div>
					<div class = "col-md-3">
						<input
							type = "text"
							class = "form-control"
							placeholder = "{{TranslationService.getText('SETTINGS_INFIX')}}"
							ng-model = "newUser.infix"
							required>
					</div>
					<div class = "col-md-5">
						<input
							type		= "text"
							class		= "form-control"
							placeholder	= "{{TranslationService.getText('SETTINGS_LASTNAME')}}"
							ng-model	= "newUser.lastName"
							required>
					</div>
				</div>

				<div class = "row form-group">
					<div class = "col-md-12">
						<input
							type		= "text"
							class		= "form-control"
							placeholder	= "{{TranslationService.getText('SETTINGS_EMAIL')}}"
							ng-model	= "newUser.emailaddress"
							required>
					</div>
				</div>

				<div class = "row form-group margin_bottom_20">
					<div class = "col-md-6">
						<input
							type		= "password"
							name		= "newpassword"
							class		= "form-control password"
							placeholder	= "{{TranslationService.getText('SETTINGS_PASSWORD')}}"
							ng-model	= "newUser.password"
							required>
					</div>
					<div class = "col-md-5">
						<input
							type		= "password"
							class		= "form-control verifypassword"
							name		= "confirmPassword"
							placeholder	= "{{TranslationService.getText('SETTINGS_REPEAT_PASSWORD')}}"
							ng-model	= "newUser.passwordConfirm">
					</div>

					<div class="alert alert-warning" ng-show="(newUser.passwordConfirm.length > 0 && newUser.password.length > 0) && newUser.password != newUser.passwordConfirm">
						{{TranslationService.getText('ATSREGISTER_PASSWORD_MATCH')}}
					</div>

					<div class = "col-md-1">
						<span class = "verified-confirmation glyphicon"></span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-8 col-md-2">
			<div class="form-group">
				<button class="btn btn-danger btn-block pull-right" type="button" ng-click=" $state.go('^')">
					{{TranslationService.getText('SETTINGS_CANCEL')}}
				</button>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<button
					class="btn btn-success pull-right save-user"
					type="button"
					ng-disabled="newUser.password.length == 0 || newUser.password != newUser.passwordConfirm"
					ng-click="saveUser(newUser)"
					required>
					{{TranslationService.getText('SETTINGS_SAVE')}}
				</button>
			</div>
		</div>
	</div>

</div>
