<div class="col-md-12 h3" ng-bind="TranslationService.getText('DASHBOARD_TITLE')">
</div>

<div class="row">
	<div class="col-md-9">
		<div class="well well-sm dashboard-filters-container">
			<!-- filters -->
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label for="#" ng-bind="TranslationService.getText('DASHBOARD_VACANCIES')"> </label>
								<select
									class="form-control"
									ng-change=""
									ng-model="activity.id"
									ng-options="activity.id as activity.jobName for activity in data.activityLog">
									<option value="" ng-bind="TranslationService.getText('DASHBOARD_VACANCIES')"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="well dashboard-activities-container padding_bottom_0">

		<!-- message -->
			<div class="row">
				<div class="col-md-12">
					<div class="h4" ng-bind="TranslationService.getText('DASHBOARD_ACTIVITY')"></div>
				</div>
			</div>

			<div class="well message bg-white"
			     ng-repeat="activity in data.activityLog"
			>
				<div class="inner">
					<div class="row">
						<div class="col-md-12 text-right">
							<div class="btn-group" role="group" aria-label="...">
								<button
									type="button"
									class="btn btn-default"
									ng-click="$state.go('jobs',{id:activity.jobId})">
									<i class="fa fa-arrow-right blue"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Source information -->
				<div class="row padding_bottom_10">
					<div class="col-md-4 h6 margin_topbot_0">
						<div ng-class="{
							'fa fa-user blue':activity.activityType=='Applied status',
							'fa fa-arrow-right darkgray':activity.activityType=='Application status change',
							'fa fa-envelope-o blue':activity.activityType=='Mail status change',
							'fa fa-calendar-o yellow':activity.activityType=='Note status change'}">
						</div>

						<b ng-bind="activity.employeeFirstName + ' ' + activity.employeeInfix + (employeeInfix.length ? ' ' : '') + activity.lastName"></b>
					</div>
					<div class="col-md-4 h6 margin_topbot_0">
						<b ng-bind="activity.jobName"></b>
					</div>
					<div
						class="col-md-4 message-date text-right h9"
						ng-bind="activity.created" >
					</div>
					<!-- Message (email) -->
					<div class="row">
						<div class="col-md-12 message-text  h10">
							<div class="h9"><p ng-bind="vacature.jobApplicationStatus"></p></div>
						</div>
						<div class="col-md-12 message-text h10">
							<!-- Show additional info if needed -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-3"></div>
</div>