/* name:	EMPLOYER PORTAL TEMPLATE version 0.1
/* date: 	20/07/2015
/* author: 	Daniel Eusebio Roque

			BOOTSTRAP version 3.3.5

/* CSS FILE - VANILLA TEMPLATE > HRMATCHES PORTALS */

/*------------------- CLIENT COLORS AND FONTS -----------------------
/
/ 	Put underneath the colors and fonts of the client company for easy/fast replacement over the entire CSS
/	Add more colors if needed
/
/	COLORS
/
/	color 1: 	#0099ff 
/			 	blue
/				background/buttons
/
/	color 2: 	#82b52a
/			 	green
/				background/buttons
/
/   color 3:	#e5b14d
/				orange
/				background/buttons	
/				
/	color 4: 	#a94442
/				red
/				background/text	
/
/	color 5: 	#aff2ae
/				light green
/				background/text
/
/	color 6: 	#777
/				light gray
/				background/text	
/
/	color 7: 	#333
/				dark gray
/				background/text
/
/	color 8: 	#666
/				dark gray
/				background/text	
/
/	color 9: 	#2e333d
/				dark gray
/				background/text	
/
/	
/				
/	FONTS
/
/	font 1: 'Sintony', sans-serif - dropdown + header
/
/----------------------------------------------------------------*/

/* When there is a need to deactivate a piece of CSS code, do NOT DELETE it! Turn it in a comment by starting with a  /*  and ending with a  */

/* ----------------------------------------------------------------*/


/*---------------------------------------*/
/*----------- COLOR CLASSES -------------*/
/*---------------------------------------*/

.blue{color:#0099ff}
.green{color:#82b52a}
.white{color:#fff}
.yellow{color:#e5b14d}
.darkgray{color:#333}
.lightgray{color:#777}
.red{color:#a94442}
.black{color:#000}
.lightgreen{color:#aff2ae}
.bg-blue{background:#0099ff}
.bg-green{background:#82b52a}
.bg-white{background:#fff}
.bg-yellow{background:#e5b14d}
.bg-darkgray{background:#333}
.bg-lightgray{background:#999}
.bg-red{background:#a94442}

/*------------------------------*/
/*----------- BODY -------------*/
/*------------------------------*/
*{
	font-family: 'Sintony', sans-serif;
}

body{
	background-color: transparent;
}

html {
   overflow-y: scroll;
   overflow: -moz-scrollbars-vertical;
}

/*-----------------------------------------*/
/*----------- PRINTABLE PAGE -------------*/
/*---------------------------------------*/
@media print {
	
	*{
	text-shadow: none !important;
	color: #000 !important;
	background: transparent !important;
	box-shadow: none !important;
	
	}
	
	body {
		margin: -20mm 0mm 0mm 0mm;
		-webkit-print-color-adjust: exact;
	}
	
	header nav, footer {
	display: none;
	}
	
	footer {
	page-break-after: always;
	}
	
	/*-- FONTS --*/
	/* LARGE HEADER for dark backgrounds*/
	.panel-title.h8{
		font-size: 14px;
		color: #000000 !important;
		font-weight: bold;
		line-height: normal;
		/*
		text-shadow: 2px 2px 2px #000;
		*/
	}
	
	.panel-body .h13{
	font-size: 10px;
	color: #666;
	font-weight: normal;
	font-style: italic;
	line-height: 18px;
	text-transform: none;
}

	.panel-title.h4{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	line-height: normal;
	/*
	text-shadow: 2px 2px 2px #000;
	*/
	}
	
	.panel-body .resume-content .h10{
	line-height: 12px;
	}
	
	.panel-body .result-box .h10{
	line-height: 12px;
	}
	
	.title-space {
	padding-top:10px;
	margin-bottom:10px;
	}
	/*-- END FONTS --*/
	
	 .red, .red:after, .red:before {
		color: #a94442 !important;
	}
  
	 .yellow, .yellow:after, .yellow:before {
		color: #e5b14d !important;
	}
	
	.green, .green:after, .green:before {
		color: #82b52a !important;
	}
	
	.blue, .blue:after, .blue:before {
		color: #0099ff !important;
	}
	
	.panel-body .well{
	border-color:#0099ff !important;
	}
	
	.panel{
	margin-bottom:10px;
	}
	
	.panel-body{
	padding:5px;
	}
	
	.panel-heading{
	padding:5px;
	margin:0px;	
	}
	
	.panel-primary>.panel-heading {
    background-color: #337ab7 !important;
    border-color: #337ab7;
	}
  
  	.panel-primary>.panel-heading>.panel-title {
    color: #ffffff !important;
	}
	
	.panel-title{
	color:#fff;
	}
	
	.panel-body hr{
	margin-top:5px;
	margin-bottom:5px;
	}
	
  	.resume-person .h3, .resume-contact .h3, .resume-career .h3, .resume-education .h3, .resume-skills .h3, .resume-languages .h3{
	font-size:14px;
	line-height: 4px;
	}
	
	.resume-person .h4, .resume-contact .h4, .resume-career .h4, .resume-education .h4, .resume-skills .h4, .resume-languages .h4{
	font-size:12px;
	line-height: 4px;
	margin-top:0px;
	}
  
    .resume-person .h9, .resume-contact .h9, .resume-career .h9, .resume-education .h9, .resume-skills .h9, .resume-languages .h9{
	font-size:10px;
	line-height: 4px;
	}
  
    .resume-person .h10, .resume-contact .h10, .resume-career .h10, .resume-education .h10, .resume-skills .h10, .resume-languages .h10{
	font-size:10px;
	line-height: 4px;
	}
	
	.resume-person .panel-body .img_person_resume{
	background: no-repeat center center fixed;
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	height:120px;
	width:100px;
	display:block;
  	}
	
	.panel-body{
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
	}
	
	.panel-body .result-box{
	page-break-inside: avoid !important;
	}
	
	.panel{
	page-break-inside: avoid !important;
	}
	
	.assessments-legenda .h9{
	line-height: 12px;
	}
	
	.panel-default .panel-heading{
	background-color:#dddddd !important;
	}
}

/*-------------------------------------------------------------------------------------*/
/* fixed responsive background might not work on internet explorer */
/*-------------------------------------------------------------------------------------*/

.h4-space .h4{
	padding-top:10px;
	padding-bottom:20px;
}

.h4-space li{
	margin-left:25px;
}

.well_0{
	padding:0px;
	margin:0px;
}

.well-success{
	margin-top:95px;
	background-color:#aff2ae ;
	padding-bottom:5px ;
}

.well-mail{
	margin-top:95px;
	padding-bottom:5px ;
}

.well-photo{
	padding:20px 20px 60px;
	background:#fff;
}

.well-lg{
	padding-top:35px ;
	padding-bottom:25px ;
}

.well-sm{
	min-height:10px;
}

.overflow_auto{
overflow:auto;
}

.note-editor{
border-radius:6px;
}

.note-editor .note-toolbar {
	border-radius:6px 6px 0px 0px;
}

.note-editor .note-statusbar .note-resizebar{
	border-radius:0px 0px 6px 6px;
}

.note-editor .note-statusbar {
	border-radius:0px 0px 6px 6px;
}

/*------------- FORMS ------------*/

.note-editable {
   background-color: #fff;
}

form fieldset{
	padding:0 15px;
	margin-bottom:15px;
}

form fieldset  .col-md-12{
	padding:0;
}
	
.form-group{
	margin-bottom:5px;
}

label{
	display:inline-block;
	padding-top:5px;
}

.email-form .h5{
	padding-bottom:10px;
}

/*--------------------------------------*/
/*------------------ FONTS  -------------*/	
/*--------------------------------------*/

#candidate_assessments_organisation .h4{
margin-bottom:20px;
}

#candidate_assessments_workstyle .h4{
margin-bottom:20px;
}

#candidate_assessments_competencies .h4{
margin-bottom:20px;
}

.margin_left_min_10{
margin-left:-10px;
}

.margin_0{
	margin:0px ;
}

.padding_0{
	padding:0px ;
}

.padding_left_0{
padding-left:0px;
}

.padding_leftright_0{
padding-left:0px;
padding-right:0px;
}

.padding_bottom_0{
	padding-bottom:0px ;
}

.padding_bottom_10{
	padding-bottom:10px;
}

.padding_top_0{
	padding-top:0px;
}

.padding_top_5{
	padding-top:5px;
}

.padding_top_10{
	padding-top:10px;
}

.padding_5{
	padding:5px;
}

.margin_bottom_10{
	margin-bottom:10px;
	margin-top:0px;
}

.margin_bottom_20{
	margin-bottom:20px;
	margin-top:0px;
}

.margin_bottom_40{
	margin-bottom:60px;
}

.margin_bottom_0{
	margin-bottom:0px ;
}
.margin_bottom_9{
	margin-bottom:9px ;
}

.margin_bottom_30{
	margin-bottom:30px ;
}

.margin_top_10{
	margin-top:10px ;
	margin-bottom:0px ;
}

.margin_top_15{
	margin-top:15px ;
	margin-bottom:0px ;
}

.margin_top_20{
	margin-top:20px ;
	margin-bottom:0px ;
}
.margin_top_40{
	margin-top:40px ;
	margin-bottom:0px ;
}

.margin_top_5{
	margin-top:-5px;
}

.margin_top_3{
	margin-top:-3px;
}

.margin_top_2{
	margin-top:-2px;
}

.margin_top_1{
	margin-top:-1px;
}

.margin_top_6{
	margin-top:6px;
}
.margin_top_10{
	margin-top:10px;
}
.margin_top_0{
	margin-top:0px ;
}

.margin_topbot_0{
	margin-top:0px ;
	margin-bottom:0px ;
}

.margin_left_20{
	margin-left:20px ;
}

.margin_right_20{
	margin-right:20px ;
}

.margin_right_10{
	margin-right:10px ;
}

.margin_right_5{
	margin-right:5px ;
}
.centered_text{
	text-align:center;
}

.left_text{
	text-align:left;
}

.right_text{
	text-align:right;
}

.vertical_align_middle{
	vertical-align: middle;
}

.vertical_align_50{
  height: 50px;
  line-height: 50px;
}

.social-media-check-button.checkbox{
margin:0px;
width:20px;
}

.success-container .success-content{
margin: 10px 10px 40px 10px;
}


.success-container .success-footer{
display:flex;
justify-content:center;
align-items:center;
}

/* LARGE HEADER for light backgrounds */
.h1{ 
	font-size: 40px ;
	color: #54575f ;
	font-weight: normal ;
	line-height: normal ;
	text-transform: none ;
	/* 
	text-shadow: 2px 2px 4px #000;
	*/
}

.wordpress-h1{
	font-size: 40px !important;
	color: #54575f !important;
	font-weight: normal !important;
	line-height: normal !important;
	text-transform: none !important;
}

.wordpress-h1w{
	font-size: 40px !important;
	color: #fff !important;
	font-weight: normal !important;
	line-height: normal !important;
	text-transform: none !important;
}

/* LARGE HEADER for dark backgrounds*/
.h2{
	font-size: 40px ;
	color: #fff ;
	font-weight: normal ;
	line-height: normal ;
	/*
	text-shadow: 2px 2px 2px #000;
	*/
}

.wordpress-h2{
    font-size: 40px;
    color: #006aca;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
    margin-bottom: 0px;
}

/* BIG HEADER for light backgrounds */
.h3{
	font-size: 30px ;
	color: #777 ;
	font-weight: normal ;
	text-transform: none ;
	/*
	text-shadow: 2px 2px 2px #d1d1d1;
	*/
	margin-top:0px ;
}

.wordpress-h3{
	font-size: 18px;
	color: #666;
	font-weight: normal;
	line-height: 24px;
	text-transform: none;	
	text-shadow: 2px 2px 4px #000;
}

/* NORMAL HEADER for dark backgrounds*/
.h4{
	font-size: 18px ;
	color: #666 ;
	font-weight: bold ;
	line-height: 18px ;
	text-transform: none ;
	/*
	text-shadow: 2px 2px 2px #000;
	*/
}

.wordpress-h4{
    font-size: 20px !important;
    color: #006aca !important;
    font-weight: bold !important;
    line-height: normal;
    text-transform: none;
    margin-bottom: 0px;
}

.wordpress-h4 .vc_btn3.vc_btn3-size-sm{
    font-size: 14px !important;
    color: #fff !important;
    font-weight: normal !important;
    line-height: normal;
    text-transform: none;
    margin-bottom: 0px;
}



/* NORMAL HEADER for light backgrounds */
.h5{
	font-size: 14px ;
	color: #54575f ;
	font-weight: bold ;
	line-height: 14px ;
	text-transform: none ;
  	/*
	text-shadow: 1px 1px 3px #000;
	*/
}

.wordpress-h5{
	font-size: 18px !important;
	color: #fff !important;
	font-weight: normal !important;
	line-height: 24px !important;
	text-transform: none !important;
  	/*
	text-shadow: 1px 1px 3px #000;
	*/
}


.h5_score{
	font-size: 14px ;
	font-weight: bold ;
	line-height: 14px ;
	text-transform: none ;
  	/*
	text-shadow: 1px 1px 3px #000;
	*/
}

/* DARK TEXT for light backgrounds */
.h6{
	font-size: 16px ;
	color: #777 ;
	font-weight: normal ;
	line-height: 24px ;
	text-transform: none ;
  	/*
	text-shadow: 1px 1px 3px #000;
	*/
}

.wordpress-h6 .vc_btn3.vc_btn3-size-md{
	font-size: 16px !important;
	color: #54575f !important;
	font-weight: bold !important;
	line-height: 24px !important;
	text-transform: none ;
}

/* LESS DARK TEXT for light backgrounds */
.h7{
	font-size: 16px ;
	color: #777 ;
	font-weight: bold ;
	line-height: 24px ;
	text-transform: none ;
	/*
	text-shadow: 1px 1px 3px #000;
	*/
}

/* LESS DARK TEXT for light backgrounds */
.h7_center{
	font-size: 16px;
	color: #88898f;
	font-weight: normal;
	line-height: 24px;
	text-transform: none;
	text-align: center
	/*
	text-shadow: 1px 1px 3px #000;
	*/
}

/* SMALL WHITE TEXT for dark backgrounds */
.h8{
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	line-height: 18px;
	text-transform: none;  
	z-index:1;
}

.panel-title.h8{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	line-height: 18px;
	text-transform: none;  
	z-index:1;
}

/* SMALL BOLD TEXT for light backgrounds */
.h9{
	font-size: 14px;
	color: #666;
	font-weight: bold;
	line-height: 18px;
	text-transform: none;
}

/* SMALL NORMAL TEXT for light backgrounds */
.h10{
	font-size: 14px;
	color: #88898f;
	font-weight: normal;
	line-height: 20px;
	text-transform: none;
}

.wordpress-h10{
	font-size: 14px !important;
	color: #54575f !important;
	font-weight: normal !important;
	line-height: 20px;
	text-transform: none;
}

/* SMALLER BOLD TEXT for light backgrounds */
.h11{
	font-size: 10px;
	color: #88898f;
	font-weight: bold;
	line-height: 18px;
	text-transform: none;
}

/* SMALLER NORMAL TEXT for light backgrounds */
.h12{
	font-size: 10px;
	color: #88898f;
	font-weight: normal;
	line-height: 20px;
	text-transform: none;
}

.h13{
	font-size: 14px;
	color: #666;
	font-weight: normal;
	font-style: italic;
	line-height: 18px;
	text-transform: none;
}

.main-holder .box p.sm-box-title {
    font-size: 14px;
    color: #777777;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.main-holder #vacancy-box h4 {
    font-size: 24px;
    color: #777777;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0px;
}

.job-info-header {
    font-size: 24px;
    color: #666;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
    padding-bottom: 0px;
    text-align: center;
}

/*------------------------------------------------*/
/*----------- BUTTONS/DROPDOWNS/ICONS -----------*/
/*----------------------------------------------*/	

/*----------- RESIZE ALL ICONS -----------*/


/*-------------- FONT AWESOME ICONS ------------------------*/	

.fa{
	padding-right:5px;
	padding-left:5px;
	margin: 0xp;
}

.fa-fw {
width:2em;
}

.fa-fw{
	margin-right:10px;
}

.fa-fw{
	margin-right:12px;
}

.fa-fw{
	margin-right:15px;
}

.fa_margin_r20{
	margin-right:20px;

}
.fa_margin_r23{
	margin-right:23px;
}

.fa_margin_r24{
	margin-right:24px;
}

.fa_margin_r29{
	margin-right:29px;
}

.fa_margin_r26{
	margin-right:26px;
}


i.fa {
   display: inline-block;
}

.fa_white{
	color: #fff ;
}

.fa_icon{
	margin-right: 10px;
}

.fa-envelope-o{
	font-size: 1.0em ;
}

.fa-clipboard{
	font-size: 1.0em ;
}

.fa-bell-o{
	font-size: 1.0em ;
}

.fa-cog{
	font-size: 1.0em ;
}

.fa-question{
	font-size: 1.0em ;
}

.fa-sign-out{
	font-size: 1.0em ;
}

.fa-chevron-left{
	font-size: 1.0em ;
}

.fa-check-circle{
	font-size: auto;
}

.fa-check{
	font-size: 1.0em ;
}

.fa-phone{
	font-size: 1.0em ;
}

.fa-star-o{
	font-size: 1.0em ;
}

.fa-trash-o{
	font-size: 1.0em ;
}

.fa-pencil{
	font-size: 1.0em ;
}

.fa-arrow-right {
	font-size: 1.0em ;
}

.fa-calendar-o{
	font-size: 1.0em ;
}

.fa-rotate-right{
	font-size: 1.0em ;
}

.fa-times{
	font-size: 1.0em ;
}

.fa-plus{
	font-size: 1.0em ;
}

.flag-icon{
	margin-right:10px;
}

.input-group-btn .glyphicon-trash{
	color:#fff;
}

.panel-body .glyphicon-trash{
	color:#fff;
}

/*-------------- BUTTONS ------------------------*/	
.btn-red{
background-color:#a94442 !important;
font-weight: bold;
color:#fff !important;
}

.btn-yellow{
background-color:#e5b14d !important;
font-weight: bold;
color:#fff !important;
}

.btn-green{
background-color:#82b52a !important;
font-weight: bold;
color:#fff !important;
}

.btn-blue{
background-color:#0099ff !important;
font-weight: bold;
color:#fff !important;
}

.pager {
    padding-left: 0;
    margin: 20px 0px 60px 0px;
    text-align: right;
    list-style: none;
}

.pager .btn{
	font-size: 14px;
	color: #337ab7;
	font-weight: bold;
	line-height: 18px;
	text-transform: none;
	background-color:#fff;
	border: 1px solid #dddddd;
}

.pager .btn:hover{
	font-size: 14px;
	color: #337ab7;
	font-weight: bold;
	line-height: 18px;
	text-transform: none;
	background-color:#dddddd;
	border: 1px solid #dddddd;
}

.portal-jobs-job .job-apply-button {
	margin-top: 12px;
}

.portal-jobs-job .job-apply-button  .btn{
	float: right;
}

.btn-success:hover{
	color:#fff;
	background:#0366A9;
	border:1px solid #0366A9;
}

.btn-success span{
	color:#fff;
}

.btn-success i{
	color:#fff;
}

.btn-primary{
	color:#fff;
	background:#0099ff;
	border:1px solid #0099ff;
}

.btn-danger{
	color:#fff;
	background:#a94442;
	border:1px solid #a94442;
}

.btn-warning{
	color:#fff;
	background:#e5b14d;
	border:1px solid #e5b14d;
}

.btn-row{
	margin-bottom:10px;
}

.btn-file{
	position:relative;
	overflow:hidden;
}

.btn-file input[type=file]{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filter:alpha(opacity=0);
	opacity:0;
	outline:0;
	background:#fff;
	cursor:inherit;
	display:block;
}

.linkedin-btn i{
	font-size:20px;
	color:#0099ff;
	font-weight:400;
	line-height:normal;
	text-transform:none;
	margin:2px 5px 0 0;
}

.candidate-tag-box{
    padding-right:8px;
}

.btn_home, .btn_assessments, .btn_register, .btn_login, .btn_employers{	
    text-align:left;
	margin-top:17px;
}

.navlist li{
    display: inline;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 540px){
    .navlist li{
        display: block;
        list-style-type: none;
        padding: 10px;
        padding: 10px;
        text-align:center;
    }
}

/*------------------------------*/
/*----------- HEADER -----------*/
/*------------------------------*/

/* LOGO - CLIENT */
/*  size of logo's are not an issue  */	
.logo_white{
    display: block;
	background: url("http://ontdekjouwtalent.nl/wp-content/uploads/images/logo_ontdekjouwtalent.png") center center no-repeat;
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:40px;
	width: 100%;
    margin-top: 5px;
    margin-right: 190px;
    margin-left: 0px;
}

.logo_black{
	background: url("../../images/logo_black.png") center center no-repeat;
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:35px;
	width: 100%;
	margin:5px;
/*------------------------------*/
	padding-top:5px;
	margin-right:190px;
	margin-left:0px;
}

.logo_uwv{
	background: url("/assets/img/logo_uwv.png") center center no-repeat;
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:40px;
	width: 100%;
	margin:5px;
/*------------------------------*/
	padding-top:5px;
	margin-right:190px;
	margin-left:0px;
}

.logo_btn{
	background: url("/assets/img/logo_black.png") center center no-repeat;
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:20px;
	width: 90px;
	display:inline-block;
	margin-left:0px;
}

.logo-topbar{
	margin-top:10px;
	padding-bottom:10px;

}

/*------------------------------*/
}
.login-btn .btn-default {
    margin-top: 10px;
    padding: 5px 5px 5px 10px;
    background-color: #eee;
    float: right;
}


/*----------- ACTIVE MENU PAGE BACKGROUND-COLOR -------------------*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #0099ff ;
}

/*----------- TOP LEFT TEXT COLOR -------------------*/
.navbar-default .navbar-nav>li>a {
	color:#fff ;
}

/*----------- TOP RIGHT ICONS COLOR -------------------*/
.topbar .navbar-nav li .btn-group button, .topbar .navbar-nav li .btn-group button .caret, .navbar-default .navbar-nav>li>a, .topbar .navbar-nav li a i {
	color:#fff;
}

/*----------- TOP RIGHT DROPDOWN FONT COLOR -------------------*/
.topbar  .navbar-nav li  .btn-group  .dropdown-menu li a, .topbar  .navbar-nav li  .btn-group .dropdown-menu li a i {
	color:#666;
}

.topbar .navbar-nav li.active, .topbar .navbar-nav li.active a {
	background:#0099ff;
}

.topbar .btn-group{
	margin-top:8px;
}

/*----------- HEADER - RIGHT PART - ACCOUNT NAME -------------------*/
/*-- WORDPRESS PART --*/


.wpb_raw_html .wpb_wrapper a:hover{
color:#0099ff !important;
font-style:bold !important;
text-decoration: none !important;
}

.wpb_raw_html .wpb_wrapper a:active{
color:#ffffff  !important; 
font-style:normal !important;
text-decoration: none !important;
}

.wpb_raw_html .wpb_wrapper a:focus{
color:#0099ff;
text-decoration: none;
}

.wpb_raw_html .wpb_wrapper a:link{
color:#0099ff;
text-decoration: none;
}

.wpb_text_column.wpb_content_element .wpb_wrapper a:link{
color:#0099ff;
text-decoration: none;
}

.wpb_raw_html .wpb_wrapper a{
color:#ffffff;
text-decoration: none;
}

.list-style-disc ul li{
list-style-type: disc;
color:#fff;
}

.footer-links ul li a{
color:#666 !important;
}

.copyright-links a{
    font-size: 12px  !important;
    color: #777777 !important;
    font-weight: normal !important;
    line-height: normal !important;
    text-transform: none !important;
    padding: 5px 10px !important;
    margin-bottom: 0px !important;
}

.copyright-links p{
    font-size: 12px  !important;
    color: #777777 !important;
    font-weight: normal !important;
    line-height: normal !important;
    text-transform: none !important;
    padding: 5px 10px !important;
    margin-bottom: 0px !important;
}

/*-- END WORDPRESS PART --*/
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  min-height: 50px ;
}

.navbar-collapse {
	position: relative;
	margin:0px;
	margin-top: auto;
	margin-left: auto;
    text-align: center;
	overflow: auto;
}

.dropdown{
	border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: #555555;
	display: block;
	width:auto;
}

.dropdown-menu{
	background-color: #fff;
	border-radius:0px ;
	-moz-border-radius: 0px ;
	-webkit-border-radius: 0px ;
    max-width:100%;
	padding-top:0px;
	padding-bottom: 0px;
}

.dropdown-menu .divider{
	margin:0px ;
	padding:0px ;	
}

/*----------- HEADER - HOVER/FOCUS PART -------------------*/

.navbar-default .navbar-nav>li>a{
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #777 ;
	color:#fff;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.navbar-default .navbar-nav>li>a:focus{
	color:#fff;
	background-color: #0099ff;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#fff;
}

/*----------------------------------------------------------*/
.navbar-default .navbar-nav .open .dropdown-menu{
	background-color:#fff ;
	margin:0px;
	padding:0px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #333 ;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	padding-left:20px ;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color: #ddd ;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #fff ;
	background-color: #82b52a ;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
  padding: 10px 0px 10px 0px ;
}

/*------------------------------------------------------------*/
/*--------------------- BRAND COLORS -------------------------*/
/*------------------------------------------------------------*/

/* HEADER COLOR - very dark gray */
.brand_color_1{
	background-color: #000000;
}

/* OTHER COLOR hrmatches blue */
.brand_color_2{
	background-color: #0099ff;
}

/* OTHER COLOR - hrmatches green */
.brand_color_3{
	background-color: #82b52a;
}

/*------------------------------------------------------------*/
/*--------------------- BACKGROUND COLORS --------------------*/
/*------------------------------------------------------------*/

.background_color_1{
    background-color: #F3F3F3;
}

.background_color_2{
    background-color: #f3f7f8;
}

.vc_row.wpb_row.vc_row-fluid background_color_2.vc_row-no-padding{
    margin-bottom:0px;
}

.background_color_3{
    background-color: #f3f7f8;
}

/*------------------------------------------------------------*/
/*--------------------- BACKGROUND PORTAL --------------------*/
/*------------------------------------------------------------*/


/* background images */
.portal-background1{	
	background: url("../../images/background.jpg") no-repeat center center fixed; 
    height:	400px;
	width:	100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:none;
}

.portal-background2{
	display:none;	
}

.portal-background3{	
	background: url("../../images/background.jpg") no-repeat center center fixed; 
    height:	400px;
	width:	100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:none;
}

.portal-button{
	display:none;
}

/*------------------------------------------------------------*/
/*------------------------ CONTENT PART ----------------------*/
/*------------------------------------------------------------*/
.max_width{
	max-width:100% ;
}

.portal-jobs-overview{
	margin-top:95px;
	margin-bottom:40px;
}

.portal-jobs-job .breadcrumbs-container{
	margin-top:10px;
}

.portal-jobs-job .job-status{
	margin-top:10px;
}

.portal-jobs-job .job-status .well{
	margin-bottom:10px;
}

.portal-jobs-job{
	margin-top:80px;	
}

.portal-aboutus-text{
	padding-left:0px;
	
}
.application-addcv .alert{
	width:auto;
	padding:5px 10px 5px 10px;
	display:block;
	white-space:nowrap;
	float:right;
}

.application-process .panel-body{
	border-bottom: 1px #dddddd solid;
}

.application-process .panel-footer{
	border-top: 0px #ddd solid;
}

.application-process .application-registration .form-group{
	margin-bottom:10px;
}

.application-process .application-addcv .form-group{
	margin-top:25px;
}

.application-process .application-registration .footnote-text{
	margin-top:-20px;
}

.container{
	padding-bottom:40px;
}

.job-info-header .panel-body {
    padding-bottom: 0px;
}

.my-cv-title{
margin-left:0px;
padding-left:0px;
margin-bottom:0px;
padding-bottom:0px;
}

.btn-cv-builder{
margin-right:15px;
}

.container#modules-container{
	margin-top:100px;
}

.guest .container#modules-container{
	margin-top:0px;
}


#modules-container .title-container .my-cv-title{
	margin-left:0px;	
}

#modules-container .btn.btn-default{
	margin-left: 10px;
}


#rightsrolessettings .table.table-bordered.table-striped .form-control{
    width: auto;
}

.my-cv-download{
	margin-top:-20px;
}

.position-diploma{
	padding-left:10px;
}

.assessments-results-bar .btn-group .btn{
	cursor: default;	
}

.assessments-results-bar .btn-group .btn:hover{
    color: #777;
    background: #fff;
    border: 1px solid #e7e7e7;
	cursor: default;	
}

.assessments-results-bar .btn-group .btn:focus{
    outline:none !important;
    color: #777;
    background: #fff;
    border: 1px solid #e7e7e7;
	cursor: default;	
	box-shadow: none;
}

.assessments-results-bar .btn-group .btn:active{
    outline:none !important;
    color: #777;
    background: #fff;
    border: 1px solid #e7e7e7;
	cursor: default;	
}


.assessments-results-bar .btn-group{
width:100%;
}

.assessments-results-bar .btn-group  .btn{
width:11.1111%;
}

.candidate-cv-title{
	margin-top:10px;
}

.candidates-overview-container{
margin-bottom:60px;
}

.resume-languages hr{
margin:0px 0px 10px 0px;
}

.language-selector{
margin:8px 20px 0px 20px;
visibility: visible;
width:150px;
}

.assessments-box{
	background-color:#f9f9f9;
	padding:20px;
	border: 1px solid #e0e0e0;
	margin:10px;
}

.box_left{
	padding: 20px;
    border: 0px;
	border-radius:8px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(108,108,108,0.5);
}

.box_right{
	padding: 20px;
    border: 0px;
	border-radius:8px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(214,239,255,0.8);
}

.background{
	height:	580px;
	padding-top:70px;
	/* padding-bottom:175px; */
	display:block;
	margin-bottom:0px;
	background: url("../../images/background.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-thumbnail.img_jobboard{
	margin-left:auto;
	padding-left:auto;
	margin-right:auto;
	padding-right:auto;
}

.img_person{
	background: no-repeat center center fixed;
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	max-height:80px;
	max-width:60px;
	display:block;
	margin-left:5px;
	margin-top:5px;
}

.img_person_resume{
	background: no-repeat center center fixed;
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	max-height:200px;
	max-width:150px;
	display:block;
}

.avatar{
	background: no-repeat center center fixed;
	-webkit-background-size: contain; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	max-height:100px;
	max-width:90px;
	display:block;
	margin-top:5px;
}

.img_jobboard{
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:90px;
	width:auto;
	text-align:center;
	border: 1px solid #e7e7e7;
	display:block;
	margin-top:5px;
	padding:10px;
}

.img_organisation{
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	width:100%;
	margin-top:10px;
	text-align:center;
}

.img_profile{
	width: 100%; 
	height: 100px;
	border: 1px solid #bababa;
}

.img_member{
	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	width: 70px;
	height: 80px;
	border: 1px solid #bababa;
}

.img_culture{
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	width: 200px; 
	height: 200px;
	border: 1px solid #bababa;
}

.img_logo{
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:200px;
	width: 100%;
}

.img_banner{
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	height:	300px;
	padding-top:130px;
	/* padding-bottom:175px; */
	display:block;
	margin-bottom:0px;
}	

.img_company_logo{
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:50px;
	width: 100%;
}

.img_company_logo_large{
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:100px;
	width: 100%;
}

.myjobs_add_skill .skill-button .btn{
	margin-top:0px;
}

.myjobs_add_skill{
	margin-top:5px;
}

.myjobs_add_language .skill-button .btn{
	margin-top:0px;
}

.myjobs_add_language{
	margin-top:5px;
}

.myjobs_add_question .question-button .btn{
	margin-top:0px;
}

.myjobs_add_question{
	margin-top:5px;
}

.candidate-hr hr{
margin-top:2px;
border-width:2px;
}

.candidate_personality .culture_radio{
	margin-left:10px;
}

.checkbox{
	margin:0px ;
	padding:0px ;
}

.title-container{
	padding-top:95px;
}

.row.title-container .my-cv-title{
	margin-left:30px;	
}

.candidates-container{
	margin-top:95px;
}

.title-container select{
	margin-top:20px;
}

.create-job-menu{
	margin-bottom:20px ;
	margin-top:10px ;
}

.nav-tabs li a{
	color:#666;
}

.select-holder{
	width:100%;
	display:block;
}
.skills-list{
	list-style:none;
	margin:0;
	padding:0;
}
.skills-list li{
	margin-right:5px;
}

.filters-container  .h4{
	margin-top:0;
}

.filters-container .form-group{
	margin-bottom:0;
}

.jobs-container .jobs-table .h4{
	margin-bottom:0;
	font-weight:700;
}

.jobs-container .jobs-table .h4 .btn-group .dropdown-toggle .caret{
	color:#fff;
}

.jobs-container .jobs-table .jobs-stats-container{
	line-height:70px;
}

.breadcrumbs-container{
	background-color: white;
	margin-bottom:10px;
}

.breadcrumbs-container .back-btn{
	margin-right:15px;
	margin-top:11px;
}

.breadcrumbs-container ul.breadcrumb{
	padding:15px;
	border:1px solid #e7e7e7;
	margin:0;
}

.function-info-container .jobs-stats-container{
	padding-top:20px;
}

.function-info-container .jobs-stats-container b{
	display:block;
}

.function-info-container .h4{
	font-weight:700;
}

.matchlist-container hr{
	margin-top:5px;
	margin-bottom:8px;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #fff;
}

.matchlist-container .match-item .match-score{
	font-size:16px;
	color:#666;
	font-weight:700;
	line-height:normal;
	text-transform:none;
	position:relative;
	text-align:center;
}

.matchlist-container .match-item .match-score .fa{
	display:none;
	position:absolute;
	bottom:-5px;
	right:-5px;
}

.matchlist-search{
padding-bottom:10px;
}

.matchlist-overview .list-group-item{
padding:5px;
}

.settings_departments .form-group{
	margin-bottom:10px;
}

.matchlist-overview .match-score{
	padding-left:0px;
	padding-right:0px;
	margin-left:15px;
}

.matchlist-overview .match-photo{
	padding-left:0px;
	padding-right:0px;
}

.admin_text{
	margin-top:15px;
}

.admin_box{
	padding:0px 0px 0px 20px;
	margin-top:0px;
	margin-bottom:10px;	
}

.dashboard-mail-well .mail_sent{
padding-bottom:4px;
}

.teams_box{
	padding:0px 10px 0px 20px;
	margin-top:0px;
	margin-bottom:10px;	
}

.teams_text{
	margin-top:10px;
}

.email_template_box{
	padding:5px 5px 5px 20px;
	margin-top:0px;
	margin-bottom:10px;	
}

.dashboard-task-well {
	padding:5px 5px 5px 20px;
	margin-top:0px;
	margin-bottom:10px;
}


.dashboard-mail-well{
padding: 5px 5px 15px 5px;
}

.dashboard-mail-well .checkbox{
margin-top:-5px;
}

.dashboard-mail-well .email_title{
margin-top:-3px;
}

.dashboard-mail-well .mail-title{
padding:15px 15px 0px 15px;
}

.dashboard-mail-well .mail-content{
padding:0px 30px 10px 30px;
}

.dashboard-mail-group .list-group-item{
padding:0px;
margin:0px;
}
.dashboard-mail-group .btn-group-vertical{
padding:0px;
}

.dashboard-mail-group .mail-unread {
background-color:#e5b14d;
padding:0px;
margin:0px;
height:59px;
width:10px;
}

.dashboard-mail-group .mail-read {
background-color:#0099ff;
padding:0px;
margin:0px;
height:59px;
width:10px;
}

.mail_checkbox{
	margin-left:17px;
}

.newjob-competencies-tabs .checkbox{
margin-top:-10px;
}

.dashboard-task-well .checkbox{


}

.email_template_box .btn-group, .btn-group-vertical {
float:right;
padding-right: 5px;
}

.email_template_text{
	margin-top:7px;
}

.teamsettings .form-group{
margin-bottom:20px;
}

.subscription .form-group{
margin-bottom:20px;
}

.subscription .well{
	padding:5px;
}

#emailsettings .form-group{
margin-bottom:20px;
}

#emailsettings .form-group hr{
padding:0px;
margin:0px;
}

#usersettings .form-group{
margin-bottom:20px;
}

#passwordsettings .form-group{
margin-bottom:20px;
}

#notificationsettings .form-group{
	margin-bottom:20px;
}

#modules-container #guest-panel{
margin-top:90px;
}

#modules-container{	
	margin-bottom:90px;	
}

#modules-container .main-holder{
	margin-top:0px;
}

#collapseTwo .panel-body .main-holder{
	margin-top:5px;
}


ul#sortable-test li{
    list-style: none;
    text-align: left !important;
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
}

ul#sortable-test li span{
	margin-left: 20px;
}

#sortable-test {
  padding: 0px;
  margin: 0px;
}
#sortable-test li {
  list-style: none;
  text-align: left !important;
  padding: 15px;
  border: 1px solid #e7e7e7;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  font-size: 18px;
  color: #777777;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
}
#sortable-test li span {
  font-size: 14px;
  color: #777777;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
  margin-left: 10px;
}
#sortable-test li:hover {
  border: 1px solid #09F;
  font-size: 18px;
  color: #09F;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
  cursor: move;
}
#sortable-test li:hover span {
  font-size: 14px;
  color: #09F;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
}
#sortable-test li.ui-sortable-helper {
  border: 1px solid #09F;
  font-size: 18px;
  color: #09F;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
}
#sortable-test li.ui-sortable-helper span {
  font-size: 14px;
  color: #09F;
  font-weight: bold;
  line-height: normal;
  text-transform: none;
}
ul.testscore {
  padding-bottom: 30px;
  padding-left: 0px;
  margin-left: 0px;
  width: 99%;
  border: 1px solid #e7e7e7;
  margin-top: 10px;
  background-color:#fff;
}
ul.testscore li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  width: 11%;
}
ul.testscore li.active {
  background: #09F;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  line-height: 30px;
  text-transform: none;
}
ul.testscore li:first-child {
  margin-left: 0px;
}
ul.testscore.score-red li.active {
  background: #e74e4e;
}
ul.testscore.score-green li.active {
  background: #4e9b4e;
}
ul.testscore.score-blue li.active {
  background: #4e4ee7;
}
ul.testscore.score-yellow li.active {
  background: #e7b14e;
}

.container.assessment-container {
	padding-top:20px;
	margin-top:100px !important;
	margin-bottom: 100px;
	background-color:#f5f5f5;
	padding-bottom:20px;
	border-radius:8px;
	border: 1px solid #0099ff;
}

.container-edit{
	margin-top:90px !important;
	
}


.answers_list label .answer_letter {
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    line-height: 14px;
    text-transform: none;
}

.answers_list .row {
    list-style: none;
    text-align: left !important;
    padding: 15px;
    border: 1px solid #e7e7e7;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
}

.text-left {
    text-align: left;
}

.ui-sortable{
	padding:0px;
}

.answers_list .row label{
	display:initial;
}

.answer_letter{
margin-top:5px;
margin-bottom:5px;
}

.answer_text{
margin-top:5px;
margin-bottom:5px;
}

.answer_option{
margin-top:5px;
margin-bottom:5px;
}

.answers_list{
margin-bottom:20px;
}

.assessments-box{
background-color:#f9f9f9;
padding:10px;
border: 1px solid #e0e0e0;
margin:10px;
}

.assessments-box, .content_block{
	padding:10px;
	/*border: 1px solid #e0e0e0;*/
	margin-bottom:20px;
}

/*----- FILTERS -----*/
.dashboard-filters a.reset-filters {
  font-size: 12px;
  color: #a94442; /*red*/
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  margin-right: 20px;
}

.dashboard-filters a.toggle-filters {
  font-size: 12px;
  color: #0099ff; /*blue*/
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  margin-right: 20px;
}

.dashboard-notifications-top{
margin-left:-8px;
}

.auto_align{
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
}

.candidate_box{
padding:0px 10px 5px 5px;
}
/*----- COLOR INDICATION FOR MATCHING SCORES - GREEN/YELLOW/RED -----*/
.portal-jobs-overview .tab-content td.high{
	font-size:20px;
	font-weight:bold;
	color:#82b52a ;
}

.portal-jobs-overview .tab-content td.medium{
	font-size:20px;
	font-weight:bold;
	color:#e5b14d ;
}

.portal-jobs-overview .tab-content td.low{
	font-size:20px;
	font-weight:bold;
	color:#a94442 ;
}

.high{
	color:#82b52a ;
}

.medium{
	color:#e5b14d ;
}

.low{
	color:#a94442 ;
}

.jobs-matches-container .jobs-matches-well .high{
	color:#82b52a ;
}

.jobs-matches-container .jobs-matches-well .medium{
	color:#e5b14d ;
}

.jobs-matches-container .jobs-matches-well .low{
	color:#a94442 ;
}

.applications-container .applications-well  .high{
	color:#82b52a ;
}

.applications-container .applications-well .medium{
	color:#e5b14d ;
}

.applications-container .applications-well .low{
	color:#a94442 ;
}

.candidates-section-top .score-status-download .high{
color:#82b52a ;
}
.candidates-section-top .score-status-download .medium{
color:#e5b14d ;
}
.candidates-section-top .score-status-download .low{
color:#a94442 ;
}

.score-status-download .high {
	color: #5cb85c ;
}

.score-status-download .medium {
	color: #a94442 ;
}

.score-status-download .low {
	color: #a94442 ;
}
/*--------------------------------------------------------*/

.break_word{
word-wrap: break-word;	
}


.matchlist-container .match-item .match-item-info{
	text-align:left;
	padding-top: 10px;	
}

.matchlist-container .match-item .match-item-info .h4{
	margin:5px 0 0;
	font-size:14px;
	color:#666;
	font-weight:700;
	line-height:normal;
	text-transform:none;
}

.matchlist-container .match-item .match-item-info p{
	font-size:14px;
	color:#777;
	font-weight:400;
	line-height:normal;
	text-transform:none;
}

.matchlist-container .match-item.viewed .match-score .fa{
	display:block;
}

.matchlist-container .match-item.active{
	background:#0099ff;
}

.matchlist-container .match-item.active .h4{
	color:#fff;
}

.matchlist-container .match-item.active p{
	color:#fff;
}

.candidate-container .candidate-main-info .h4{
	margin-bottom:5px;
	font-weight:700;
}
.candidate_cv .h10{
margin-right:0px;
}


.candidate-container .nav-tabs{
margin-bottom: 20px;
}


.application-process-title .h3{
margin-top:10px;
}


.activities .activities-options{
	margin-bottom:10px;
}

.activities .message,.activities .status-message{
	position:relative;
}

.activities .message .h4,.activities .status-message .h4{
	font-size:16px;
	color:#777;
	font-weight:400;
	line-height:normal;
	text-transform:none;
	margin:0;
}

.activities .message .message-date, .activities .status-message .message-date{
	padding-top:17px;
	padding-bottom:8px;
}

.activities .message .inner, .activities .status-message .inner{
	position:absolute;
	display:none;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.6);
	padding:10px;
	z-index:10;
	-webkit-border-radius:3px;
	-moz-border-radius-topleft:3px;
	border-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
}

.activities .message:hover .inner, .activities .status-message:hover .inner{
	display:block;
}

.container.margin_bottom_20 .form-group .btn-success{
margin-bottom:40px;
}

.dashboard-activities-container{
	margin-bottom:60px;
}

#dashboard_mail_inbox{
margin-bottom:60px;
}
	
.dashboard-activities-container .activities-options{
	margin-bottom:10px;
}

.dashboard-activities-container .message, .dashboard-activities-container .status-message{
	position:relative;
}

.dashboard-activities-container .message .h4, .dashboard-activities-container .status-message .h4{
	font-size:16px;
	color:#777;
	font-weight:400;
	line-height:normal;
	text-transform:none;
	margin:0;
}

.dashboard-activities-container .message .message-date, .dashboard-activities-container .status-message .message-date{
	padding-top:0px;
}

.dashboard-activities-container .message .inner, .dashboard-activities-container .status-message .inner{
	position:absolute;
	display:none;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.6);
	padding:10px;
	z-index:10;
	-webkit-border-radius:3px;
	-moz-border-radius-topleft:3px;
	border-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
}

.dashboard-activities-container .message:hover .inner, .dashboard-activities-container .status-message:hover .inner{
	display:block;
}
.status-box{
padding:21px 0px 21px 0px;

}

.myjobs-overview-container  .status-box{
	position:relative;
}
.myjobs-overview-container  .status-box .inner{
	position:absolute;
	display:none;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.3);
	padding:10px;
	z-index:10;
	-webkit-border-radius:3px;
	-moz-border-radius-topleft:3px;
	border-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
}

.myjobs-overview-container .status-box:hover .inner{
	display:block;
}


.myjobs_steps .badge{
margin:3px 0px 0px 0px;
float:left;
}

.myjobs-status-container .btn {
padding: 22px 0px 22px 0px;
width:16.66%;
}

.myjobs-status-container .btn-group{
width:100%;
}


.dashboard-statistics-container .btn {
padding: 22px 0px 18px 0px;
width:33.3333%;
margin-bottom:20px;
}

.dashboard-statistics-container .btn-group {
width:100%;
}

.dashboard-statistics-container .h11{
line-height: 2px;
}


.step-complete.badge {
	background-color:#82b52a;
}

.step-incomplete.badge {
	background-color:#a94442;
}

#quick-stats-container{
	padding:10px 20px 0px 20px;
}

#tasks-container {
	padding:10px 20px 10px 20px;
}

#getting-started-container{
	padding:10px 20px 0px 20px;
}
.quick-stats-container .btn-group{
	width:100%;
}

.quick-stats-container .btn-group .btn{
	width:50%;
	padding:20px 0;
}

.quick-stats-container .btn-group .btn b{
	display:block;
}

.tasks-container .list-group p{
	margin-bottom:0;
}

.tasks-container .list-group b{
	display:block;
}

.candidates-filters .form-control{
	margin-bottom:7px;
}

.settings-menu{
	margin-top:95px;
}

.settings-menu .h4{
	margin-top:0;
	margin-bottom:0;
}

.settings-menu .list-group{
	margin-bottom:0;
	margin-top:15px;
}

.settings-menu .list-group a i{
	color:#666;
}

.settings-menu .list-group a.active i{
	color:#fff;
}

.settings-tab-nav{
	margin-bottom:-1px;
}

.candidate-cv-contact{
	margin-top:30px;
}

.candidate-cv-education{
	margin-top:30px;
}

.candidate-cv-workexperience{
	margin-top:30px;
}

.candidate-cv-skills{
	margin-top:30px;
}

.candidate-cv-languages{
	margin-top:30px;
}

.candidate-cv-hobbies{
	margin-top:30px;
}

.well .status-box {
margin-bottom:0px;	
}

#usersettings .well-title{
padding-bottom:6px;
}

.assessments-legenda .extra-spacing-5{
margin-top:5px;
margin-bottom:5px;
}

.well.well-sm.well-language{
    padding: 9px;
    border-radius: 3px;
	border: 0px solid #fff;
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	margin-bottom: 0px;
	padding-bottom:0px;
}

.members-container{
	box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-moz-box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius-topleft:0;
	border-radius:0 0 5px 5px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
}
	
.members-container table td .h4{
	font-size:16px;
	color:#666;
	font-weight:700;
	line-height:normal;
	text-transform:none;
	margin-bottom:0;
	margin-top:3px;
}

.members-container .teams-list-container p{
	margin-top:5px;
	font-weight:700;
}

.members-container .team-members-list .h4{
	font-size:14px;
	color:#666;
	font-weight:700;
	line-height:normal;
	text-transform:none;
	margin-bottom:0;
	margin-top:3px;
}

.vacancy-box-title-holder .h4{
	margin-bottom:0;
}

.table-stat table{
	margin-top:15px;
}

.table-stat th{
	background:#fafafa;
	width:20%;
}

.table-stat td{
	width:20%;
	background:#fff;
}
#vacancy-table.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
   padding: 10px 0px 0px 10px;
}

#vacancy-table.table>thead>tr, .table>tbody>tr, .table>tfoot>tr, .table>thead>tr, .table>tbody>tr, .table>tfoot>tr{
	border: 1px solid #ddd;
}

.row.title-container.margin_bottom_20{
	margin-bottom:0px;	
}

.company-container{
	box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-moz-box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0) inset;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius-topleft:0;
	border-radius:0 0 5px 5px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
}

.stats-well-left{
padding-right:0px;
padding-left:5px;
}
.stats-well-middle{
padding-left:0px;
padding-right:0px;
}
.stats-well-right{
padding-left:0px;
padding-right:5px;
}

.myjobs_well{
	padding-bottom:0px;
	margin-bottom:60px;
}
.myjobs_well_box2{
	padding: 0px 0px 0px 0px;
}

.table-padding{
padding-top:20px;
}

.myjobs_well_box3{
margin-top:5px;	
}

.myjobs_table_th .table>thead>tr>th {
border-bottom:0px;
padding-top:20px;
}

.myjobs_table_th .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
border-top:0px;

}

.candidate-tags{
margin-top:10px;
float:right;
}

.candidate-tags-btn{
margin-top:10px;
padding-right:7px;
}

.candidate-tab-overview{
padding:10px;
}

#candidate-container .tab-content{
margin-top:30px;
}

.interest-container .input-group .btn{
margin:0px;
}

.interest-container .input-group {
	margin-bottom:10px;
}
/*--------------------------------------*/
/*------------- FOOTER PART ------------*/
/*--------------------------------------*/

#footer  .nav.navbar-nav.navbar-right>li>a:hover{
	background-color:#fff;
	color:#777;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.footer{
	background:#fff;
	min-height:25px;
}

.footer .nav li a{
	font-size:12px;
	color:#777;
	font-weight:400;
	line-height:normal;
	text-transform:none;
	padding:5px 10px;
	margin-bottom:0;
}

.footer .nav li p{
	font-size:12px;
	color:#777;
	font-weight:400;
	line-height:normal;
	text-transform:none;
	padding:5px 10px;
	margin-bottom:0;
}

#footer {
    background: #ffffff;
    min-height: 25px;

}

#footer .nav li a, #footer .nav li p {
    font-size: 12px;
    color: #777777;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
    padding: 5px 10px;
    margin-bottom: 0px;
}


.nav>li>p {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav>li>p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo_footer{
    background: url("/images/app/poweredby_dark.png") right no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 17px;
    width: 130%;
    min-width: 100px;
    margin-top: -3px;
    padding: 0px;
    float: right;
    margin-left: 30px;
    margin-right: auto;
}

/*--------------------------------------*/
/*------------- COPYRIGHT PART ---------*/
/*--------------------------------------*/

.copyright{
	padding:0px;
	margin:0px;
	padding-bottom: 10px;
}

.copyright_text{
	margin-top: 10px;
	float:right;
	margin-right:20px;
	padding:0px;
	/* 
	text-shadow: gray 0.05em 0.05em 0.2em;
	*/
}

/* LOGO - company = HRMATCHES */
.logo_company{
	background: url("../images/logo_company.png") right no-repeat;
	-webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
	height:23px;
	width:130%;
	min-width: 100px;
	margin-top: 4px;
	padding:0px;
	float: right;
	margin-left:auto;
	margin-right: auto;
}

.background-home .vc_general.vc_btn3{
    margin-top:150px;
    margin-bottom:auto;
    margin-right:100px;
}

@media only screen and (max-width: 700px){
    .background{
	height:	650px;
	display:block;
	margin-bottom:0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
    .wordpress-h2{
        font-size:24px;
    }
    
    .wordpress-h3{
        font-size:16px;
    }
    
    .vc_btn3-container.vc_btn3-right{
        text-align:center;
    }
    .background-home .vc_general.vc_btn3{
    margin-top:50px;
    margin-bottom:auto;
    }
    
    .wpb_text_column.wpb_content_element.h4{
        margin-bottom:10px;
    }
    .footer .wpb_column.vc_column_container{
        margin-bottom:30px;
    }
}


.modal-body .row h4{
	color:#1d90c9;
	font-weight:bold;
}


/* name:	CSS Additions
/* date: 	24/02/2016
/* author: 	Marc Bakker

.scrollable{
	overflow:hidden;
	overflow-y:scroll;
}
/*
modalzie https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

ul{
	cursor:default;
}

.logo-white{
	background: rgba(0, 0, 0, 0) url("/assets/img/logo_black.png") no-repeat scroll center center / contain ;
	height: 40px;
	margin: 5px 190px 5px 0;
	padding-top: 5px;
	width: 100%;
}